{
  "openapi": "3.0.1",
  "info": {
    "title": "SSA Billing API",
    "description": "TBD",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://apim-corenonprod01-integration-00.azure-api.net/ssa-billing/v1"
    }
  ],
  "paths": {
    "/PaperlessSet": {
      "get": {
        "tags": [
          "PaperlessSet"
        ],
        "summary": "Get entities from PaperlessSet",
        "description": "Get entities from PaperlessSet",
        "operationId": "get-paperlessset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "PAPERLESS",
                  "NavPaperless"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "NavPaperless"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of Paperless",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Paperless"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "PAPERLESS": "string",
                        "NavPaperless": {
                          "results": [
                            {
                              "VKONT": "string",
                              "GPART": "string",
                              "PAPERLESS": "string",
                              "SENDCONTROL_GP": "string",
                              "Message": "string",
                              "MessageType": "string",
                              "MessageCode": "string",
                              "EligibilityFlag": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "PaperlessSet"
        ],
        "summary": "Add new entity to PaperlessSet",
        "description": "Add new entity to PaperlessSet",
        "operationId": "post-paperlessset",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Paperless-create"
              },
              "example": {
                "NavPaperless": {
                  "results": [
                    {}
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Paperless",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Paperless"
                    }
                  }
                },
                "example": {
                  "d": {
                    "PAPERLESS": "string",
                    "NavPaperless": {
                      "results": [
                        {
                          "VKONT": "string",
                          "GPART": "string",
                          "PAPERLESS": "string",
                          "SENDCONTROL_GP": "string",
                          "Message": "string",
                          "MessageType": "string",
                          "MessageCode": "string",
                          "EligibilityFlag": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessSet('{PAPERLESS}')": {
      "get": {
        "tags": [
          "PaperlessSet"
        ],
        "summary": "Get entity from PaperlessSet by key",
        "description": "Get entity from PaperlessSet by key",
        "operationId": "get-paperlessset-paperless",
        "parameters": [
          {
            "name": "PAPERLESS",
            "in": "path",
            "description": "Paperless",
            "required": true,
            "schema": {
              "maxLength": 1,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "PAPERLESS",
                  "NavPaperless"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "NavPaperless"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Paperless",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Paperless"
                    }
                  }
                },
                "example": {
                  "d": {
                    "PAPERLESS": "string",
                    "NavPaperless": {
                      "results": [
                        {
                          "VKONT": "string",
                          "GPART": "string",
                          "PAPERLESS": "string",
                          "SENDCONTROL_GP": "string",
                          "Message": "string",
                          "MessageType": "string",
                          "MessageCode": "string",
                          "EligibilityFlag": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessSet('{PAPERLESS}')/NavPaperless": {
      "get": {
        "tags": [
          "PaperlessAccountsSet",
          "PaperlessSet"
        ],
        "summary": "Get entities from related NavPaperless",
        "description": "Get entities from related NavPaperless",
        "operationId": "get-paperlessset-paperless-navpaperless",
        "parameters": [
          {
            "name": "PAPERLESS",
            "in": "path",
            "description": "Paperless",
            "required": true,
            "schema": {
              "maxLength": 1,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "VKONT",
                  "GPART",
                  "PAPERLESS",
                  "SENDCONTROL_GP",
                  "Message",
                  "MessageType",
                  "MessageCode",
                  "EligibilityFlag"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of PaperlessAccounts",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PaperlessAccounts"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "VKONT": "string",
                        "GPART": "string",
                        "PAPERLESS": "string",
                        "SENDCONTROL_GP": "string",
                        "Message": "string",
                        "MessageType": "string",
                        "MessageCode": "string",
                        "EligibilityFlag": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet"
        ],
        "summary": "Get entities from BillPaymentHistorySet",
        "description": "Get entities from BillPaymentHistorySet",
        "operationId": "get-billpaymenthistoryset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "Partnerkey",
                  "DueDateHigh",
                  "DueDateLow",
                  "Vkont",
                  "Invid",
                  "BillHistorySet",
                  "PaymentHistorySet",
                  "InvIDSet"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "BillHistorySet",
                  "PaymentHistorySet",
                  "InvIDSet"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of BillPaymentHistory",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillPaymentHistory"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Partnerkey": "string",
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Invid": "string",
                        "BillHistorySet": {
                          "results": [
                            {
                              "DueDateHigh": "string",
                              "DueDateLow": "string",
                              "Vkont": "string",
                              "Vtref": "string",
                              "Text": "string",
                              "Status": "string",
                              "Invid": "string",
                              "InvDate": "string",
                              "Amount": "0",
                              "Currency": "string",
                              "DueDate": "string",
                              "Billstartdate": "string",
                              "Billenddate": "string",
                              "Billdays": 0,
                              "Currentcharge": "0",
                              "BillPeriod": "string",
                              "PropertyAddress": "string"
                            }
                          ]
                        },
                        "PaymentHistorySet": {
                          "results": [
                            {
                              "DueDateHigh": "string",
                              "DueDateLow": "string",
                              "Vkont": "string",
                              "Vtref": "string",
                              "Text": "string",
                              "Status": "string",
                              "InvDate": "string",
                              "Amount": "0",
                              "Currency": "string",
                              "DueDate": "string",
                              "Invid": "string",
                              "Paymentdate": "string",
                              "Paymenttype": "string",
                              "Channel": "string",
                              "PropertyAddress": "string"
                            }
                          ]
                        },
                        "InvIDSet": {
                          "results": [
                            {
                              "BillPerEnd": "string",
                              "BillPerStart": "string",
                              "CurrCharges": "0",
                              "Currency": "string",
                              "DueDateHigh": "string",
                              "DueDateLow": "string",
                              "Energyshare": "0",
                              "Invid": "string",
                              "InvoiceDate": "string",
                              "LateCharges": "0",
                              "NetDueDate": "string",
                              "PaymentRec": "0",
                              "Payrecdate": "string",
                              "PreBal": "0",
                              "RemBal": "0",
                              "TotAmtDue": "0",
                              "Vkont": "string",
                              "PayPlanAmt": "0",
                              "PayPlanOverDueAmt": "0",
                              "PayPlanDueDate": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')": {
      "get": {
        "tags": [
          "BillPaymentHistorySet"
        ],
        "summary": "Get entity from BillPaymentHistorySet by key",
        "description": "Get entity from BillPaymentHistorySet by key",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "Partnerkey",
                  "DueDateHigh",
                  "DueDateLow",
                  "Vkont",
                  "Invid",
                  "BillHistorySet",
                  "PaymentHistorySet",
                  "InvIDSet"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "BillHistorySet",
                  "PaymentHistorySet",
                  "InvIDSet"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "BillPaymentHistory",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillPaymentHistory"
                    }
                  }
                },
                "example": {
                  "d": {
                    "Partnerkey": "string",
                    "DueDateHigh": "string",
                    "DueDateLow": "string",
                    "Vkont": "string",
                    "Invid": "string",
                    "BillHistorySet": {
                      "results": [
                        {
                          "DueDateHigh": "string",
                          "DueDateLow": "string",
                          "Vkont": "string",
                          "Vtref": "string",
                          "Text": "string",
                          "Status": "string",
                          "Invid": "string",
                          "InvDate": "string",
                          "Amount": "0",
                          "Currency": "string",
                          "DueDate": "string",
                          "Billstartdate": "string",
                          "Billenddate": "string",
                          "Billdays": 0,
                          "Currentcharge": "0",
                          "BillPeriod": "string",
                          "PropertyAddress": "string"
                        }
                      ]
                    },
                    "PaymentHistorySet": {
                      "results": [
                        {
                          "DueDateHigh": "string",
                          "DueDateLow": "string",
                          "Vkont": "string",
                          "Vtref": "string",
                          "Text": "string",
                          "Status": "string",
                          "InvDate": "string",
                          "Amount": "0",
                          "Currency": "string",
                          "DueDate": "string",
                          "Invid": "string",
                          "Paymentdate": "string",
                          "Paymenttype": "string",
                          "Channel": "string",
                          "PropertyAddress": "string"
                        }
                      ]
                    },
                    "InvIDSet": {
                      "results": [
                        {
                          "BillPerEnd": "string",
                          "BillPerStart": "string",
                          "CurrCharges": "0",
                          "Currency": "string",
                          "DueDateHigh": "string",
                          "DueDateLow": "string",
                          "Energyshare": "0",
                          "Invid": "string",
                          "InvoiceDate": "string",
                          "LateCharges": "0",
                          "NetDueDate": "string",
                          "PaymentRec": "0",
                          "Payrecdate": "string",
                          "PreBal": "0",
                          "RemBal": "0",
                          "TotAmtDue": "0",
                          "Vkont": "string",
                          "PayPlanAmt": "0",
                          "PayPlanOverDueAmt": "0",
                          "PayPlanDueDate": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')/BillHistorySet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet",
          "BillHistorySet"
        ],
        "summary": "Get entities from related BillHistorySet",
        "description": "Get entities from related BillHistorySet",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon-1",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "DueDateHigh",
                  "DueDateLow",
                  "Vkont",
                  "Vtref",
                  "Text",
                  "Status",
                  "Invid",
                  "InvDate",
                  "Amount",
                  "Currency",
                  "DueDate",
                  "Billstartdate",
                  "Billenddate",
                  "Billdays",
                  "Currentcharge",
                  "BillPeriod",
                  "PropertyAddress"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of BillHistory",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillHistory"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Vtref": "string",
                        "Text": "string",
                        "Status": "string",
                        "Invid": "string",
                        "InvDate": "string",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "string",
                        "Billstartdate": "string",
                        "Billenddate": "string",
                        "Billdays": 0,
                        "Currentcharge": "0",
                        "BillPeriod": "string",
                        "PropertyAddress": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')/PaymentHistorySet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet",
          "PaymentHistorySet"
        ],
        "summary": "Get entities from related PaymentHistorySet",
        "description": "Get entities from related PaymentHistorySet",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon-2",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "DueDateHigh",
                  "DueDateLow",
                  "Vkont",
                  "Vtref",
                  "Text",
                  "Status",
                  "InvDate",
                  "Amount",
                  "Currency",
                  "DueDate",
                  "Invid",
                  "Paymentdate",
                  "Paymenttype",
                  "Channel",
                  "PropertyAddress"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of PaymentHistory",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PaymentHistory"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Vtref": "string",
                        "Text": "string",
                        "Status": "string",
                        "InvDate": "string",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "string",
                        "Invid": "string",
                        "Paymentdate": "string",
                        "Paymenttype": "string",
                        "Channel": "string",
                        "PropertyAddress": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')/InvIDSet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet",
          "InvIDSet"
        ],
        "summary": "Get entities from related InvIDSet",
        "description": "Get entities from related InvIDSet",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon-3",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "maxLength": 8,
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "BillPerEnd",
                  "BillPerStart",
                  "CurrCharges",
                  "Currency",
                  "DueDateHigh",
                  "DueDateLow",
                  "Energyshare",
                  "Invid",
                  "InvoiceDate",
                  "LateCharges",
                  "NetDueDate",
                  "PaymentRec",
                  "Payrecdate",
                  "PreBal",
                  "RemBal",
                  "TotAmtDue",
                  "Vkont",
                  "PayPlanAmt",
                  "PayPlanOverDueAmt",
                  "PayPlanDueDate"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InvID",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InvID"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "BillPerEnd": "string",
                        "BillPerStart": "string",
                        "CurrCharges": "0",
                        "Currency": "string",
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Energyshare": "0",
                        "Invid": "string",
                        "InvoiceDate": "string",
                        "LateCharges": "0",
                        "NetDueDate": "string",
                        "PaymentRec": "0",
                        "Payrecdate": "string",
                        "PreBal": "0",
                        "RemBal": "0",
                        "TotAmtDue": "0",
                        "Vkont": "string",
                        "PayPlanAmt": "0",
                        "PayPlanOverDueAmt": "0",
                        "PayPlanDueDate": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet": {
      "get": {
        "tags": [
          "InstallmentPlanSet"
        ],
        "summary": "Get entities from InstallmentPlanSet",
        "description": "Get entities from InstallmentPlanSet",
        "operationId": "get-installmentplanset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "ContractAccount",
                  "EnrollStatus",
                  "PlanAmnt",
                  "TotalDue",
                  "PastDue",
                  "DocumentURI",
                  "DocumentCategory",
                  "InstallmentNo",
                  "BP",
                  "NavInstPlanToList",
                  "NavInstPlanToStatus",
                  "NavInstPlanToAmt"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "NavInstPlanToList",
                  "NavInstPlanToStatus",
                  "NavInstPlanToAmt"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlan",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlan"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "EnrollStatus": "string",
                        "PlanAmnt": "string",
                        "TotalDue": "string",
                        "PastDue": "string",
                        "DocumentURI": "string",
                        "DocumentCategory": "string",
                        "InstallmentNo": "string",
                        "NavInstPlanToList": {
                          "results": [
                            {
                              "InstNo": "string",
                              "InstAmnt": "string",
                              "DueDate": "string",
                              "Status": "string",
                              "PaymentStatus": "string"
                            }
                          ]
                        },
                        "NavInstPlanToStatus": {
                          "results": [
                            {
                              "SSA_Code": "string",
                              "Error_Code": "string",
                              "Error_Msg": "string"
                            }
                          ]
                        },
                        "NavInstPlanToAmt": {
                          "results": [
                            {
                              "Inst_Plan": "string",
                              "Inst_Plan_Desc": "string",
                              "First_Amt": "string",
                              "Last_Amt": "string",
                              "BalType": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')": {
      "get": {
        "tags": [
          "InstallmentPlanSet"
        ],
        "summary": "Get entity from InstallmentPlanSet by key",
        "description": "Get entity from InstallmentPlanSet by key",
        "operationId": "get-installmentplanset-contractaccount",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "ContractAccount",
                  "EnrollStatus",
                  "PlanAmnt",
                  "TotalDue",
                  "PastDue",
                  "DocumentURI",
                  "DocumentCategory",
                  "InstallmentNo",
                  "BP",
                  "NavInstPlanToList",
                  "NavInstPlanToStatus",
                  "NavInstPlanToAmt"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "NavInstPlanToList",
                  "NavInstPlanToStatus",
                  "NavInstPlanToAmt"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InstallmentPlan",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlan"
                    }
                  }
                },
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "EnrollStatus": "string",
                    "PlanAmnt": "string",
                    "TotalDue": "string",
                    "PastDue": "string",
                    "DocumentURI": "string",
                    "DocumentCategory": "string",
                    "InstallmentNo": "string",
                    "NavInstPlanToList": {
                      "results": [
                        {
                          "InstNo": "string",
                          "InstAmnt": "string",
                          "DueDate": "string",
                          "Status": "string",
                          "PaymentStatus": "string"
                        }
                      ]
                    },
                    "NavInstPlanToStatus": {
                      "results": [
                        {
                          "SSA_Code": "string",
                          "Error_Code": "string",
                          "Error_Msg": "string"
                        }
                      ]
                    },
                    "NavInstPlanToAmt": {
                      "results": [
                        {
                          "Inst_Plan": "string",
                          "Inst_Plan_Desc": "string",
                          "First_Amt": "string",
                          "Last_Amt": "string",
                          "BalType": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')/NavInstPlanToAmt": {
      "get": {
        "tags": [
          "InstallmentPlanSet",
          "InstallmentPlanASet"
        ],
        "summary": "Get entities from related NavInstPlanToAmt",
        "description": "Get entities from related NavInstPlanToAmt",
        "operationId": "get-installmentplanset-contractaccount-navinstplantoamt",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "Inst_Plan",
                  "Inst_Plan_Desc",
                  "First_Amt",
                  "Last_Amt",
                  "BalType"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlanA",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanA"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Inst_Plan": "string",
                        "Inst_Plan_Desc": "string",
                        "First_Amt": "string",
                        "Last_Amt": "string",
                        "BalType": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')/NavInstPlanToStatus": {
      "get": {
        "tags": [
          "InstallmentPlanSet",
          "InstallmentPlanSSet"
        ],
        "summary": "Get entities from related NavInstPlanToStatus",
        "description": "Get entities from related NavInstPlanToStatus",
        "operationId": "get-installmentplanset-contractaccount-navinstplantostatus",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "SSA_Code",
                  "Error_Code",
                  "Error_Msg"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlanS",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanS"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Error_Code": "string",
                        "Error_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')/NavInstPlanToList": {
      "get": {
        "tags": [
          "InstallmentPlanSet",
          "InstallmentPlanLSet"
        ],
        "summary": "Get entities from related NavInstPlanToList",
        "description": "Get entities from related NavInstPlanToList",
        "operationId": "get-installmentplanset-contractaccount-navinstplantolist",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "InstNo",
                  "InstAmnt",
                  "DueDate",
                  "Status",
                  "PaymentStatus"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlanL",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanL"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "InstNo": "string",
                        "InstAmnt": "string",
                        "DueDate": "string",
                        "Status": "string",
                        "PaymentStatus": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanASet": {
      "get": {
        "tags": [
          "InstallmentPlanASet"
        ],
        "summary": "Get entities from InstallmentPlanASet",
        "description": "Get entities from InstallmentPlanASet",
        "operationId": "get-installmentplanaset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "Inst_Plan",
                  "Inst_Plan_Desc",
                  "First_Amt",
                  "Last_Amt",
                  "BalType"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlanA",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanA"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Inst_Plan": "string",
                        "Inst_Plan_Desc": "string",
                        "First_Amt": "string",
                        "Last_Amt": "string",
                        "BalType": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanASet('{Inst_Plan}')": {
      "get": {
        "tags": [
          "InstallmentPlanASet"
        ],
        "summary": "Get entity from InstallmentPlanASet by key",
        "description": "Get entity from InstallmentPlanASet by key",
        "operationId": "get-installmentplanaset-inst_plan",
        "parameters": [
          {
            "name": "Inst_Plan",
            "in": "path",
            "description": "Inst_Plan",
            "required": true,
            "schema": {
              "maxLength": 4,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "Inst_Plan",
                  "Inst_Plan_Desc",
                  "First_Amt",
                  "Last_Amt",
                  "BalType"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InstallmentPlanA",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanA"
                    }
                  }
                },
                "example": {
                  "d": {
                    "Inst_Plan": "string",
                    "Inst_Plan_Desc": "string",
                    "First_Amt": "string",
                    "Last_Amt": "string",
                    "BalType": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSSet": {
      "get": {
        "tags": [
          "InstallmentPlanSSet"
        ],
        "summary": "Get entities from InstallmentPlanSSet",
        "description": "Get entities from InstallmentPlanSSet",
        "operationId": "get-installmentplansset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "SSA_Code",
                  "Error_Code",
                  "Error_Msg"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlanS",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanS"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Error_Code": "string",
                        "Error_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSSet('{SSA_Code}')": {
      "get": {
        "tags": [
          "InstallmentPlanSSet"
        ],
        "summary": "Get entity from InstallmentPlanSSet by key",
        "description": "Get entity from InstallmentPlanSSet by key",
        "operationId": "get-installmentplansset-ssa_code",
        "parameters": [
          {
            "name": "SSA_Code",
            "in": "path",
            "description": "SSA_Code",
            "required": true,
            "schema": {
              "maxLength": 1,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "SSA_Code",
                  "Error_Code",
                  "Error_Msg"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InstallmentPlanS",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanS"
                    }
                  }
                },
                "example": {
                  "d": {
                    "SSA_Code": "string",
                    "Error_Code": "string",
                    "Error_Msg": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanLSet": {
      "get": {
        "tags": [
          "InstallmentPlanLSet"
        ],
        "summary": "Get entities from InstallmentPlanLSet",
        "description": "Get entities from InstallmentPlanLSet",
        "operationId": "get-installmentplanlset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "InstNo",
                  "InstAmnt",
                  "DueDate",
                  "Status",
                  "PaymentStatus"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of InstallmentPlanL",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanL"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "InstNo": "string",
                        "InstAmnt": "string",
                        "DueDate": "string",
                        "Status": "string",
                        "PaymentStatus": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanLSet('{InstNo}')": {
      "get": {
        "tags": [
          "InstallmentPlanLSet"
        ],
        "summary": "Get entity from InstallmentPlanLSet by key",
        "description": "Get entity from InstallmentPlanLSet by key",
        "operationId": "get-installmentplanlset-instno",
        "parameters": [
          {
            "name": "InstNo",
            "in": "path",
            "description": "InstNo",
            "required": true,
            "schema": {
              "maxLength": 4,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "InstNo",
                  "InstAmnt",
                  "DueDate",
                  "Status",
                  "PaymentStatus"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "InstallmentPlanL",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.InstallmentPlanL"
                    }
                  }
                },
                "example": {
                  "d": {
                    "InstNo": "string",
                    "InstAmnt": "string",
                    "DueDate": "string",
                    "Status": "string",
                    "PaymentStatus": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccountStatusSet": {
      "get": {
        "tags": [
          "AccountStatusSet"
        ],
        "summary": "Get entities from AccountStatusSet",
        "description": "Get entities from AccountStatusSet",
        "operationId": "get-accountstatusset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "ContractAccount",
                  "BusinessPartner",
                  "FieldName",
                  "FieldValue"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of AccountStatus",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.AccountStatus"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "BusinessPartner": "string",
                        "FieldName": "string",
                        "FieldValue": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccountStatusSet(ContractAccount='{ContractAccount}',BusinessPartner='{BusinessPartner}')": {
      "get": {
        "tags": [
          "AccountStatusSet"
        ],
        "summary": "Get entity from AccountStatusSet by key",
        "description": "Get entity from AccountStatusSet by key",
        "operationId": "get-accountstatusset-contractaccount-contractaccount-businesspartner-busines",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 12,
              "type": "string"
            }
          },
          {
            "name": "BusinessPartner",
            "in": "path",
            "description": "BusinessPartner",
            "required": true,
            "schema": {
              "maxLength": 10,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "ContractAccount",
                  "BusinessPartner",
                  "FieldName",
                  "FieldValue"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "AccountStatus",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.AccountStatus"
                    }
                  }
                },
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "BusinessPartner": "string",
                    "FieldName": "string",
                    "FieldValue": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligibilitySet": {
      "get": {
        "tags": [
          "PEEligibilitySet"
        ],
        "summary": "Get entities from PEEligibilitySet",
        "description": "Get entities from PEEligibilitySet",
        "operationId": "get-peeligibilityset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "ContractAccount",
                  "Eligible",
                  "Enrolled",
                  "DefDate",
                  "Balance",
                  "DueDate",
                  "BalType",
                  "Bal_Total",
                  "Bal_Past",
                  "DefDueDate",
                  "BP",
                  "NavPayExtEligToStatus"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "NavPayExtEligToStatus"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of PEEligibility",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PEEligibility"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "Eligible": "string",
                        "Enrolled": "string",
                        "DefDate": "string",
                        "Balance": "string",
                        "DueDate": "string",
                        "BalType": "string",
                        "Bal_Total": "string",
                        "Bal_Past": "string",
                        "DefDueDate": "string",
                        "NavPayExtEligToStatus": {
                          "results": [
                            {
                              "SSA_Code": "string",
                              "Output_Code": "string",
                              "E_Msg": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligibilitySet('{ContractAccount}')": {
      "get": {
        "tags": [
          "PEEligibilitySet"
        ],
        "summary": "Get entity from PEEligibilitySet by key",
        "description": "Get entity from PEEligibilitySet by key",
        "operationId": "get-peeligibilityset-contractaccount",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "ContractAccount",
                  "Eligible",
                  "Enrolled",
                  "DefDate",
                  "Balance",
                  "DueDate",
                  "BalType",
                  "Bal_Total",
                  "Bal_Past",
                  "DefDueDate",
                  "BP",
                  "NavPayExtEligToStatus"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "NavPayExtEligToStatus"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "PEEligibility",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PEEligibility"
                    }
                  }
                },
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "Eligible": "string",
                    "Enrolled": "string",
                    "DefDate": "string",
                    "Balance": "string",
                    "DueDate": "string",
                    "BalType": "string",
                    "Bal_Total": "string",
                    "Bal_Past": "string",
                    "DefDueDate": "string",
                    "NavPayExtEligToStatus": {
                      "results": [
                        {
                          "SSA_Code": "string",
                          "Output_Code": "string",
                          "E_Msg": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligibilitySet('{ContractAccount}')/NavPayExtEligToStatus": {
      "get": {
        "tags": [
          "PEEligibilitySet",
          "PEEligStatusSet"
        ],
        "summary": "Get entities from related NavPayExtEligToStatus",
        "description": "Get entities from related NavPayExtEligToStatus",
        "operationId": "get-peeligibilityset-contractaccount-navpayexteligtostatus",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "maxLength": 35,
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "SSA_Code",
                  "Output_Code",
                  "E_Msg"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of PEEligStatus",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PEEligStatus"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Output_Code": "string",
                        "E_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligStatusSet": {
      "get": {
        "tags": [
          "PEEligStatusSet"
        ],
        "summary": "Get entities from PEEligStatusSet",
        "description": "Get entities from PEEligStatusSet",
        "operationId": "get-peeligstatusset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "SSA_Code",
                  "Output_Code",
                  "E_Msg"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of PEEligStatus",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PEEligStatus"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Output_Code": "string",
                        "E_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligStatusSet('{SSA_Code}')": {
      "get": {
        "tags": [
          "PEEligStatusSet"
        ],
        "summary": "Get entity from PEEligStatusSet by key",
        "description": "Get entity from PEEligStatusSet by key",
        "operationId": "get-peeligstatusset-ssa_code",
        "parameters": [
          {
            "name": "SSA_Code",
            "in": "path",
            "description": "key: SSA_Code",
            "required": true,
            "schema": {
              "maxLength": 1,
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "SSA_Code",
                  "Output_Code",
                  "E_Msg"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "PEEligStatus",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PEEligStatus"
                    }
                  }
                },
                "example": {
                  "d": {
                    "SSA_Code": "string",
                    "Output_Code": "string",
                    "E_Msg": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPayHistorySet": {
      "get": {
        "tags": [
          "BillPayHistorySet"
        ],
        "summary": "Get entities from BillPayHistorySet",
        "description": "Get entities from BillPayHistorySet",
        "operationId": "get-billpayhistoryset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "BusinessPartner",
                  "DueDateHigh",
                  "DueDateLow",
                  "ContractAccount",
                  "Contract",
                  "BillPay",
                  "Status",
                  "Invid",
                  "InvDate",
                  "Amount",
                  "Currency",
                  "DueDate"
                ],
                "type": "string"
              }
[...]
