{
  "openapi": "3.0.1",
  "info": {
    "title": "SSA Billing API",
    "description": "TBD",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://apidev.swc:41443/customer/ssa-billing/sap/opu/odata/SAP/ZHSSA_SCM_UTILITIES_SRV"
    }
  ],
  "tags": [
    {
      "name": "AccntStatus"
    },
    {
      "name": "AccountBalanceSet"
    },
    {
      "name": "AccountStatusSet"
    },
    {
      "name": "BankpaySet"
    },
    {
      "name": "BillHistorySet"
    },
    {
      "name": "BillPayHistorySet"
    },
    {
      "name": "BillPaymentHistorySet"
    },
    {
      "name": "BillSummaryAmtSet"
    },
    {
      "name": "BPSearchSet"
    },
    {
      "name": "FormSet"
    },
    {
      "name": "InstallmentPlanASet"
    },
    {
      "name": "InstallmentPlanLSet"
    },
    {
      "name": "InstallmentPlanSet"
    },
    {
      "name": "InstallmentPlanSSet"
    },
    {
      "name": "InvIDSet"
    },
    {
      "name": "InvoicePDFSet"
    },
    {
      "name": "PaperlessAccountsSet"
    },
    {
      "name": "PaperlessSet"
    },
    {
      "name": "PayenrollMsgSet"
    },
    {
      "name": "PayenrollSet"
    },
    {
      "name": "PaymentHistorySet"
    },
    {
      "name": "PEEligibilitySet"
    },
    {
      "name": "PEEligStatusSet"
    }
  ],
  "paths": {
    "/AccountBalanceSet": {
      "get": {
        "tags": [
          "AccountBalanceSet"
        ],
        "summary": "Get entities from AccountBalanceSet",
        "description": "Get entities from AccountBalanceSet",
        "operationId": "get-accountbalanceset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Balancedue": "0",
                        "Partnerkey": "string",
                        "Message": "string",
                        "Vkont": "string",
                        "Messagetype": "string",
                        "Persona": "string",
                        "Messagecode": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccountBalanceSet('{Partnerkey}')": {
      "get": {
        "tags": [
          "AccountBalanceSet"
        ],
        "summary": "Get entity from AccountBalanceSet by key",
        "description": "Get entity from AccountBalanceSet by key",
        "operationId": "get-accountbalanceset-partnerkey",
        "parameters": [
          {
            "name": "Partnerkey",
            "in": "path",
            "description": "key: Partnerkey",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "Balancedue": "0",
                    "Partnerkey": "string",
                    "Message": "string",
                    "Vkont": "string",
                    "Messagetype": "string",
                    "Persona": "string",
                    "Messagecode": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPayHistorySet": {
      "get": {
        "tags": [
          "BillPayHistorySet"
        ],
        "summary": "Get entities from BillPayHistorySet",
        "description": "Get entities from BillPayHistorySet",
        "operationId": "get-billpayhistoryset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "BusinessPartner": "string",
                        "DueDateHigh": "2017-04-13T15:51:04.0000000+00:00",
                        "DueDateLow": "2017-04-13T15:51:04.0000000+00:00",
                        "ContractAccount": "string",
                        "Contract": "string",
                        "BillPay": "string",
                        "Status": "string",
                        "Invid": "string",
                        "InvDate": "2017-04-13T15:51:04.0000000+00:00",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "2017-04-13T15:51:04.0000000+00:00"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPayHistorySet(BusinessPartner='{BusinessPartner}',ContractAccount='{ContractAccount}')": {
      "get": {
        "tags": [
          "BillPayHistorySet"
        ],
        "summary": "Get entity from BillPayHistorySet by key",
        "description": "Get entity from BillPayHistorySet by key",
        "operationId": "get-billpayhistoryset-businesspartner-businesspartner-contractaccount-contra",
        "parameters": [
          {
            "name": "BusinessPartner",
            "in": "path",
            "description": "BusPartner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "BusinessPartner": "string",
                    "DueDateHigh": "2017-04-13T15:51:04.0000000+00:00",
                    "DueDateLow": "2017-04-13T15:51:04.0000000+00:00",
                    "ContractAccount": "string",
                    "Contract": "string",
                    "BillPay": "string",
                    "Status": "string",
                    "Invid": "string",
                    "InvDate": "2017-04-13T15:51:04.0000000+00:00",
                    "Amount": "0",
                    "Currency": "string",
                    "DueDate": "2017-04-13T15:51:04.0000000+00:00"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccntStatus": {
      "get": {
        "tags": [
          "AccntStatus"
        ],
        "summary": "Get entities from AccntStatus",
        "description": "Get entities from AccntStatus",
        "operationId": "get-accntstatus",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "Premise": "string",
                        "Description": "string",
                        "EStatus": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccntStatus('{ContractAccount}')": {
      "get": {
        "tags": [
          "AccntStatus"
        ],
        "summary": "Get entity from AccntStatus by key",
        "description": "Get entity from AccntStatus by key",
        "operationId": "get-accntstatus-contractaccount",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "Contract Account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "Premise": "string",
                    "Description": "string",
                    "EStatus": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessAccountsSet": {
      "get": {
        "tags": [
          "PaperlessAccountsSet"
        ],
        "summary": "Get entities from PaperlessAccountsSet",
        "description": "Get entities from PaperlessAccountsSet",
        "operationId": "get-paperlessaccountsset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "VKONT": "string",
                        "GPART": "string",
                        "PAPERLESS": "string",
                        "SENDCONTROL_GP": "string",
                        "Message": "string",
                        "MessageType": "string",
                        "MessageCode": "string",
                        "EligibilityFlag": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessAccountsSet(VKONT='{VKONT}',GPART='{GPART}')": {
      "get": {
        "tags": [
          "PaperlessAccountsSet"
        ],
        "summary": "Get entity from PaperlessAccountsSet by key",
        "description": "Get entity from PaperlessAccountsSet by key",
        "operationId": "get-paperlessaccountsset-vkont-vkont-gpart-gpart",
        "parameters": [
          {
            "name": "VKONT",
            "in": "path",
            "description": "Contract Account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "GPART",
            "in": "path",
            "description": "Business Partner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "VKONT": "string",
                    "GPART": "string",
                    "PAPERLESS": "string",
                    "SENDCONTROL_GP": "string",
                    "Message": "string",
                    "MessageType": "string",
                    "MessageCode": "string",
                    "EligibilityFlag": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessSet": {
      "post": {
        "tags": [
          "PaperlessSet"
        ],
        "summary": "Add new entity to PaperlessSet",
        "description": "Add new entity to PaperlessSet",
        "operationId": "post-paperlessset",
        "requestBody": {
          "description": "New entity",
          "content": {
            "application/json": {
              "example": {
                "NavPaperless": {
                  "results": [
                    {}
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "PAPERLESS": "string",
                    "NavPaperless": {
                      "results": [
                        {
                          "VKONT": "string",
                          "GPART": "string",
                          "PAPERLESS": "string",
                          "SENDCONTROL_GP": "string",
                          "Message": "string",
                          "MessageType": "string",
                          "MessageCode": "string",
                          "EligibilityFlag": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "tags": [
          "PaperlessSet"
        ],
        "summary": "Get entities from PaperlessSet",
        "description": "Get entities from PaperlessSet",
        "operationId": "get-paperlessset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "PAPERLESS": "string",
                        "NavPaperless": {
                          "results": [
                            {
                              "VKONT": "string",
                              "GPART": "string",
                              "PAPERLESS": "string",
                              "SENDCONTROL_GP": "string",
                              "Message": "string",
                              "MessageType": "string",
                              "MessageCode": "string",
                              "EligibilityFlag": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessSet('{PAPERLESS}')": {
      "get": {
        "tags": [
          "PaperlessSet"
        ],
        "summary": "Get entity from PaperlessSet by key",
        "description": "Get entity from PaperlessSet by key",
        "operationId": "get-paperlessset-paperless",
        "parameters": [
          {
            "name": "PAPERLESS",
            "in": "path",
            "description": "Paperless",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "PAPERLESS": "string",
                    "NavPaperless": {
                      "results": [
                        {
                          "VKONT": "string",
                          "GPART": "string",
                          "PAPERLESS": "string",
                          "SENDCONTROL_GP": "string",
                          "Message": "string",
                          "MessageType": "string",
                          "MessageCode": "string",
                          "EligibilityFlag": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaperlessSet('{PAPERLESS}')/NavPaperless": {
      "get": {
        "tags": [
          "PaperlessSet",
          "PaperlessAccountsSet"
        ],
        "summary": "Get entities from related NavPaperless",
        "description": "Get entities from related NavPaperless",
        "operationId": "get-paperlessset-paperless-navpaperless",
        "parameters": [
          {
            "name": "PAPERLESS",
            "in": "path",
            "description": "Paperless",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "VKONT": "string",
                        "GPART": "string",
                        "PAPERLESS": "string",
                        "SENDCONTROL_GP": "string",
                        "Message": "string",
                        "MessageType": "string",
                        "MessageCode": "string",
                        "EligibilityFlag": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet"
        ],
        "summary": "Get entities from BillPaymentHistorySet",
        "description": "Get entities from BillPaymentHistorySet",
        "operationId": "get-billpaymenthistoryset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Partnerkey": "string",
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Invid": "string",
                        "BillHistorySet": {
                          "results": [
                            {
                              "DueDateHigh": "string",
                              "DueDateLow": "string",
                              "Vkont": "string",
                              "Vtref": "string",
                              "Text": "string",
                              "Status": "string",
                              "Invid": "string",
                              "InvDate": "string",
                              "Amount": "0",
                              "Currency": "string",
                              "DueDate": "string",
                              "Billstartdate": "string",
                              "Billenddate": "string",
                              "Billdays": 0,
                              "Currentcharge": "0",
                              "BillPeriod": "string",
                              "PropertyAddress": "string"
                            }
                          ]
                        },
                        "PaymentHistorySet": {
                          "results": [
                            {
                              "DueDateHigh": "string",
                              "DueDateLow": "string",
                              "Vkont": "string",
                              "Vtref": "string",
                              "Text": "string",
                              "Status": "string",
                              "InvDate": "string",
                              "Amount": "0",
                              "Currency": "string",
                              "DueDate": "string",
                              "Invid": "string",
                              "Paymentdate": "string",
                              "Paymenttype": "string",
                              "Channel": "string",
                              "PropertyAddress": "string"
                            }
                          ]
                        },
                        "InvIDSet": {
                          "results": [
                            {
                              "BillPerEnd": "string",
                              "BillPerStart": "string",
                              "CurrCharges": "0",
                              "Currency": "string",
                              "DueDateHigh": "string",
                              "DueDateLow": "string",
                              "Energyshare": "0",
                              "Invid": "string",
                              "InvoiceDate": "string",
                              "LateCharges": "0",
                              "NetDueDate": "string",
                              "PaymentRec": "0",
                              "Payrecdate": "string",
                              "PreBal": "0",
                              "RemBal": "0",
                              "TotAmtDue": "0",
                              "Vkont": "string",
                              "PayPlanAmt": "0",
                              "PayPlanOverDueAmt": "0",
                              "PayPlanDueDate": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')/BillHistorySet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet",
          "BillHistorySet"
        ],
        "summary": "Get entities from related BillHistorySet",
        "description": "Get entities from related BillHistorySet",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon-1",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Vtref": "string",
                        "Text": "string",
                        "Status": "string",
                        "Invid": "string",
                        "InvDate": "string",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "string",
                        "Billstartdate": "string",
                        "Billenddate": "string",
                        "Billdays": 0,
                        "Currentcharge": "0",
                        "BillPeriod": "string",
                        "PropertyAddress": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')/PaymentHistorySet": {
      "get": {
        "tags": [
          "PaymentHistorySet",
          "BillPaymentHistorySet"
        ],
        "summary": "Get entities from related PaymentHistorySet",
        "description": "Get entities from related PaymentHistorySet",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon-2",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Vtref": "string",
                        "Text": "string",
                        "Status": "string",
                        "InvDate": "string",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "string",
                        "Invid": "string",
                        "Paymentdate": "string",
                        "Paymenttype": "string",
                        "Channel": "string",
                        "PropertyAddress": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')/InvIDSet": {
      "get": {
        "tags": [
          "BillPaymentHistorySet",
          "InvIDSet"
        ],
        "summary": "Get entities from related InvIDSet",
        "description": "Get entities from related InvIDSet",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon-3",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "BillPerEnd": "string",
                        "BillPerStart": "string",
                        "CurrCharges": "0",
                        "Currency": "string",
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Energyshare": "0",
                        "Invid": "string",
                        "InvoiceDate": "string",
                        "LateCharges": "0",
                        "NetDueDate": "string",
                        "PaymentRec": "0",
                        "Payrecdate": "string",
                        "PreBal": "0",
                        "RemBal": "0",
                        "TotAmtDue": "0",
                        "Vkont": "string",
                        "PayPlanAmt": "0",
                        "PayPlanOverDueAmt": "0",
                        "PayPlanDueDate": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillPaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')": {
      "get": {
        "tags": [
          "BillPaymentHistorySet"
        ],
        "summary": "Get entity from BillPaymentHistorySet by key",
        "description": "Get entity from BillPaymentHistorySet by key",
        "operationId": "get-billpaymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkon",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "Partnerkey": "string",
                    "DueDateHigh": "string",
                    "DueDateLow": "string",
                    "Vkont": "string",
                    "Invid": "string",
                    "BillHistorySet": {
                      "results": [
                        {
                          "DueDateHigh": "string",
                          "DueDateLow": "string",
                          "Vkont": "string",
                          "Vtref": "string",
                          "Text": "string",
                          "Status": "string",
                          "Invid": "string",
                          "InvDate": "string",
                          "Amount": "0",
                          "Currency": "string",
                          "DueDate": "string",
                          "Billstartdate": "string",
                          "Billenddate": "string",
                          "Billdays": 0,
                          "Currentcharge": "0",
                          "BillPeriod": "string",
                          "PropertyAddress": "string"
                        }
                      ]
                    },
                    "PaymentHistorySet": {
                      "results": [
                        {
                          "DueDateHigh": "string",
                          "DueDateLow": "string",
                          "Vkont": "string",
                          "Vtref": "string",
                          "Text": "string",
                          "Status": "string",
                          "InvDate": "string",
                          "Amount": "0",
                          "Currency": "string",
                          "DueDate": "string",
                          "Invid": "string",
                          "Paymentdate": "string",
                          "Paymenttype": "string",
                          "Channel": "string",
                          "PropertyAddress": "string"
                        }
                      ]
                    },
                    "InvIDSet": {
                      "results": [
                        {
                          "BillPerEnd": "string",
                          "BillPerStart": "string",
                          "CurrCharges": "0",
                          "Currency": "string",
                          "DueDateHigh": "string",
                          "DueDateLow": "string",
                          "Energyshare": "0",
                          "Invid": "string",
                          "InvoiceDate": "string",
                          "LateCharges": "0",
                          "NetDueDate": "string",
                          "PaymentRec": "0",
                          "Payrecdate": "string",
                          "PreBal": "0",
                          "RemBal": "0",
                          "TotAmtDue": "0",
                          "Vkont": "string",
                          "PayPlanAmt": "0",
                          "PayPlanOverDueAmt": "0",
                          "PayPlanDueDate": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillHistorySet": {
      "get": {
        "tags": [
          "BillHistorySet"
        ],
        "summary": "Get entities from BillHistorySet",
        "description": "Get entities from BillHistorySet",
        "operationId": "get-billhistoryset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Vtref": "string",
                        "Text": "string",
                        "Status": "string",
                        "Invid": "string",
                        "InvDate": "string",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "string",
                        "Billstartdate": "string",
                        "Billenddate": "string",
                        "Billdays": 0,
                        "Currentcharge": "0",
                        "BillPeriod": "string",
                        "PropertyAddress": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BillHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')": {
      "get": {
        "tags": [
          "BillHistorySet"
        ],
        "summary": "Get entity from BillHistorySet by key",
        "description": "Get entity from BillHistorySet by key",
        "operationId": "get-billhistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkont-vkont",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "DueDateHigh": "string",
                    "DueDateLow": "string",
                    "Vkont": "string",
                    "Vtref": "string",
                    "Text": "string",
                    "Status": "string",
                    "Invid": "string",
                    "InvDate": "string",
                    "Amount": "0",
                    "Currency": "string",
                    "DueDate": "string",
                    "Billstartdate": "string",
                    "Billenddate": "string",
                    "Billdays": 0,
                    "Currentcharge": "0",
                    "BillPeriod": "string",
                    "PropertyAddress": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanLSet": {
      "get": {
        "tags": [
          "InstallmentPlanLSet"
        ],
        "summary": "Get entities from InstallmentPlanLSet",
        "description": "Get entities from InstallmentPlanLSet",
        "operationId": "get-installmentplanlset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "InstNo": "string",
                        "InstAmnt": "string",
                        "DueDate": "string",
                        "Status": "string",
                        "PaymentStatus": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')/NavInstPlanToAmt": {
      "get": {
        "tags": [
          "InstallmentPlanASet",
          "InstallmentPlanSet"
        ],
        "summary": "Get entities from related NavInstPlanToAmt",
        "description": "Get entities from related NavInstPlanToAmt",
        "operationId": "get-installmentplanset-contractaccount-navinstplantoamt",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Inst_Plan": "string",
                        "Inst_Plan_Desc": "string",
                        "First_Amt": "string",
                        "Last_Amt": "string",
                        "BalType": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet": {
      "get": {
        "tags": [
          "InstallmentPlanSet"
        ],
        "summary": "Get entities from InstallmentPlanSet",
        "description": "Get entities from InstallmentPlanSet",
        "operationId": "get-installmentplanset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "EnrollStatus": "string",
                        "PlanAmnt": "string",
                        "TotalDue": "string",
                        "PastDue": "string",
                        "DocumentURI": "string",
                        "DocumentCategory": "string",
                        "InstallmentNo": "string",
                        "NavInstPlanToList": {
                          "results": [
                            {
                              "InstNo": "string",
                              "InstAmnt": "string",
                              "DueDate": "string",
                              "Status": "string",
                              "PaymentStatus": "string"
                            }
                          ]
                        },
                        "NavInstPlanToStatus": {
                          "results": [
                            {
                              "SSA_Code": "string",
                              "Error_Code": "string",
                              "Error_Msg": "string"
                            }
                          ]
                        },
                        "NavInstPlanToAmt": {
                          "results": [
                            {
                              "Inst_Plan": "string",
                              "Inst_Plan_Desc": "string",
                              "First_Amt": "string",
                              "Last_Amt": "string",
                              "BalType": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')": {
      "get": {
        "tags": [
          "InstallmentPlanSet"
        ],
        "summary": "Get entity from InstallmentPlanSet by key",
        "description": "Get entity from InstallmentPlanSet by key",
        "operationId": "get-installmentplanset-contractaccount",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "EnrollStatus": "string",
                    "PlanAmnt": "string",
                    "TotalDue": "string",
                    "PastDue": "string",
                    "DocumentURI": "string",
                    "DocumentCategory": "string",
                    "InstallmentNo": "string",
                    "NavInstPlanToList": {
                      "results": [
                        {
                          "InstNo": "string",
                          "InstAmnt": "string",
                          "DueDate": "string",
                          "Status": "string",
                          "PaymentStatus": "string"
                        }
                      ]
                    },
                    "NavInstPlanToStatus": {
                      "results": [
                        {
                          "SSA_Code": "string",
                          "Error_Code": "string",
                          "Error_Msg": "string"
                        }
                      ]
                    },
                    "NavInstPlanToAmt": {
                      "results": [
                        {
                          "Inst_Plan": "string",
                          "Inst_Plan_Desc": "string",
                          "First_Amt": "string",
                          "Last_Amt": "string",
                          "BalType": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSSet('{SSA_Code}')": {
      "get": {
        "tags": [
          "InstallmentPlanSSet"
        ],
        "summary": "Get entity from InstallmentPlanSSet by key",
        "description": "Get entity from InstallmentPlanSSet by key",
        "operationId": "get-installmentplansset-ssa_code",
        "parameters": [
          {
            "name": "SSA_Code",
            "in": "path",
            "description": "SSA_Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "SSA_Code": "string",
                    "Error_Code": "string",
                    "Error_Msg": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanASet('{Inst_Plan}')": {
      "get": {
        "tags": [
          "InstallmentPlanASet"
        ],
        "summary": "Get entity from InstallmentPlanASet by key",
        "description": "Get entity from InstallmentPlanASet by key",
        "operationId": "get-installmentplanaset-inst_plan",
        "parameters": [
          {
            "name": "Inst_Plan",
            "in": "path",
            "description": "Inst_Plan",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "Inst_Plan": "string",
                    "Inst_Plan_Desc": "string",
                    "First_Amt": "string",
                    "Last_Amt": "string",
                    "BalType": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')/NavInstPlanToList": {
      "get": {
        "tags": [
          "InstallmentPlanLSet",
          "InstallmentPlanSet"
        ],
        "summary": "Get entities from related NavInstPlanToList",
        "description": "Get entities from related NavInstPlanToList",
        "operationId": "get-installmentplanset-contractaccount-navinstplantolist",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "InstNo": "string",
                        "InstAmnt": "string",
                        "DueDate": "string",
                        "Status": "string",
                        "PaymentStatus": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanASet": {
      "get": {
        "tags": [
          "InstallmentPlanASet"
        ],
        "summary": "Get entities from InstallmentPlanASet",
        "description": "Get entities from InstallmentPlanASet",
        "operationId": "get-installmentplanaset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "Inst_Plan": "string",
                        "Inst_Plan_Desc": "string",
                        "First_Amt": "string",
                        "Last_Amt": "string",
                        "BalType": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanLSet('{InstNo}')": {
      "get": {
        "tags": [
          "InstallmentPlanLSet"
        ],
        "summary": "Get entity from InstallmentPlanLSet by key",
        "description": "Get entity from InstallmentPlanLSet by key",
        "operationId": "get-installmentplanlset-instno",
        "parameters": [
          {
            "name": "InstNo",
            "in": "path",
            "description": "InstNo",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "InstNo": "string",
                    "InstAmnt": "string",
                    "DueDate": "string",
                    "Status": "string",
                    "PaymentStatus": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSSet": {
      "get": {
        "tags": [
          "InstallmentPlanSSet"
        ],
        "summary": "Get entities from InstallmentPlanSSet",
        "description": "Get entities from InstallmentPlanSSet",
        "operationId": "get-installmentplansset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Error_Code": "string",
                        "Error_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InstallmentPlanSet('{ContractAccount}')/NavInstPlanToStatus": {
      "get": {
        "tags": [
          "InstallmentPlanSSet",
          "InstallmentPlanSet"
        ],
        "summary": "Get entities from related NavInstPlanToStatus",
        "description": "Get entities from related NavInstPlanToStatus",
        "operationId": "get-installmentplanset-contractaccount-navinstplantostatus",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Error_Code": "string",
                        "Error_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligibilitySet('{ContractAccount}')/NavPayExtEligToStatus": {
      "get": {
        "tags": [
          "PEEligibilitySet",
          "PEEligStatusSet"
        ],
        "summary": "Get entities from related NavPayExtEligToStatus",
        "description": "Get entities from related NavPayExtEligToStatus",
        "operationId": "get-peeligibilityset-contractaccount-navpayexteligtostatus",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Output_Code": "string",
                        "E_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligStatusSet('{SSA_Code}')": {
      "get": {
        "tags": [
          "PEEligStatusSet"
        ],
        "summary": "Get entity from PEEligStatusSet by key",
        "description": "Get entity from PEEligStatusSet by key",
        "operationId": "get-peeligstatusset-ssa_code",
        "parameters": [
          {
            "name": "SSA_Code",
            "in": "path",
            "description": "key: SSA_Code",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "SSA_Code": "string",
                    "Output_Code": "string",
                    "E_Msg": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligibilitySet('{ContractAccount}')": {
      "get": {
        "tags": [
          "PEEligibilitySet"
        ],
        "summary": "Get entity from PEEligibilitySet by key",
        "description": "Get entity from PEEligibilitySet by key",
        "operationId": "get-peeligibilityset-contractaccount",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "Eligible": "string",
                    "Enrolled": "string",
                    "DefDate": "string",
                    "Balance": "string",
                    "DueDate": "string",
                    "BalType": "string",
                    "Bal_Total": "string",
                    "Bal_Past": "string",
                    "DefDueDate": "string",
                    "NavPayExtEligToStatus": {
                      "results": [
                        {
                          "SSA_Code": "string",
                          "Output_Code": "string",
                          "E_Msg": "string"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccountStatusSet(ContractAccount='{ContractAccount}',BusinessPartner='{BusinessPartner}')": {
      "get": {
        "tags": [
          "AccountStatusSet"
        ],
        "summary": "Get entity from AccountStatusSet by key",
        "description": "Get entity from AccountStatusSet by key",
        "operationId": "get-accountstatusset-contractaccount-contractaccount-businesspartner-busines",
        "parameters": [
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "ContractAccount",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BusinessPartner",
            "in": "path",
            "description": "BusinessPartner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "ContractAccount": "string",
                    "BusinessPartner": "string",
                    "FieldName": "string",
                    "FieldValue": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/AccountStatusSet": {
      "get": {
        "tags": [
          "AccountStatusSet"
        ],
        "summary": "Get entities from AccountStatusSet",
        "description": "Get entities from AccountStatusSet",
        "operationId": "get-accountstatusset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "BusinessPartner": "string",
                        "FieldName": "string",
                        "FieldValue": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligStatusSet": {
      "get": {
        "tags": [
          "PEEligStatusSet"
        ],
        "summary": "Get entities from PEEligStatusSet",
        "description": "Get entities from PEEligStatusSet",
        "operationId": "get-peeligstatusset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "SSA_Code": "string",
                        "Output_Code": "string",
                        "E_Msg": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PEEligibilitySet": {
      "get": {
        "tags": [
          "PEEligibilitySet"
        ],
        "summary": "Get entities from PEEligibilitySet",
        "description": "Get entities from PEEligibilitySet",
        "operationId": "get-peeligibilityset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "ContractAccount": "string",
                        "Eligible": "string",
                        "Enrolled": "string",
                        "DefDate": "string",
                        "Balance": "string",
                        "DueDate": "string",
                        "BalType": "string",
                        "Bal_Total": "string",
                        "Bal_Past": "string",
                        "DefDueDate": "string",
                        "NavPayExtEligToStatus": {
                          "results": [
                            {
                              "SSA_Code": "string",
                              "Output_Code": "string",
                              "E_Msg": "string"
                            }
                          ]
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaymentHistorySet(DueDateHigh='{DueDateHigh}',DueDateLow='{DueDateLow}',Vkont='{Vkont}')": {
      "get": {
        "tags": [
          "PaymentHistorySet"
        ],
        "summary": "Get entity from PaymentHistorySet by key",
        "description": "Get entity from PaymentHistorySet by key",
        "operationId": "get-paymenthistoryset-duedatehigh-duedatehigh-duedatelow-duedatelow-vkont-vk",
        "parameters": [
          {
            "name": "DueDateHigh",
            "in": "path",
            "description": "Due Date High",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "DueDateLow",
            "in": "path",
            "description": "Due Date Low",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Vkont",
            "in": "path",
            "description": "Contract Acct",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "DueDateHigh": "string",
                    "DueDateLow": "string",
                    "Vkont": "string",
                    "Vtref": "string",
                    "Text": "string",
                    "Status": "string",
                    "InvDate": "string",
                    "Amount": "0",
                    "Currency": "string",
                    "DueDate": "string",
                    "Invid": "string",
                    "Paymentdate": "string",
                    "Paymenttype": "string",
                    "Channel": "string",
                    "PropertyAddress": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/PaymentHistorySet": {
      "get": {
        "tags": [
          "PaymentHistorySet"
        ],
        "summary": "Get entities from PaymentHistorySet",
        "description": "Get entities from PaymentHistorySet",
        "operationId": "get-paymenthistoryset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Vkont": "string",
                        "Vtref": "string",
                        "Text": "string",
                        "Status": "string",
                        "InvDate": "string",
                        "Amount": "0",
                        "Currency": "string",
                        "DueDate": "string",
                        "Invid": "string",
                        "Paymentdate": "string",
                        "Paymenttype": "string",
                        "Channel": "string",
                        "PropertyAddress": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/InvIDSet": {
      "get": {
        "tags": [
          "InvIDSet"
        ],
        "summary": "Get entities from InvIDSet",
        "description": "Get entities from InvIDSet",
        "operationId": "get-invidset",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$inlinecount",
            "in": "query",
            "description": "Include count of items, see [Inlinecount](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=67)",
            "schema": {
              "enum": [
                "allpages",
                "none"
              ],
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "example": {
                  "d": {
                    "__count": "string",
                    "results": [
                      {
                        "BillPerEnd": "string",
                        "BillPerStart": "string",
                        "CurrCharges": "0",
                        "Currency": "string",
                        "DueDateHigh": "string",
                        "DueDateLow": "string",
                        "Energyshare": "0",
                        "Invid": "string",
                        "InvoiceDate": "string",
                        "LateCharges": "0",
                        "NetDueDate": "string",
                        "PaymentRec": "0",
                        "Payrecdate": "string",
                        "PreBal": "0",
                        "RemBal": "0",
                        "TotAmtDue": "0",
                        "Vkont": "string",
                        "PayPlanAmt": "0",
                        "PayPlanOverDueAmt": "0",
                        "PayPlanDueDate": "string"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FormSet(FormID='{FormID}',AccountID='{AccountID}',ContractAccount='{ContractAccount}')": {
      "get": {
        "tags": [
          "FormSet"
        ],
        "summary": "Get entity from FormSet by key",
        "description": "Get entity from FormSet by key",
        "operationId": "get-formset-formid-formid-accountid-accountid-contractaccount-contractaccoun",
        "parameters": [
          {
            "name": "FormID",
            "in": "path",
            "description": "Form ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "AccountID",
            "in": "path",
            "description": "Business Partner",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ContractAccount",
            "in": "path",
            "description": "Contract Account",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "schema": {
              "type": "array"
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities, see [Expand](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=63)",
            "schema": {
              "type": "array"
            }
          }
        ],
[...]
