{
  "openapi": "3.0.0",
  "info": {
    "title": "SSA Interactions API",
    "version": "",
    "description": "TBD"
  },
  "servers": [
    {
      "url": "https://apidev.swc:41443/customerutility/ssa-interactions/sap/opu/odata/SAP/ZHSSA_SCM_UTILITIES_SRV/"
    }
  ],
  "tags": [
    {
      "name": "CorrespondenceSet"
    },
    {
      "name": "InteractionSet"
    },
    {
      "name": "DocumentDisplaySet"
    }
  ],
  "paths": {
    "/CorrespondenceSet": {
      "get": {
        "summary": "Get entities from CorrespondenceSet",
        "tags": [
          "CorrespondenceSet"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "PARTNERKEY",
                  "VKONT",
                  "DATEHIGH",
                  "DATELOW",
                  "DOCID",
                  "DOCDESC",
                  "DOCTYPE",
                  "DOCDATE",
                  "MIME_TYPE",
                  "DOCCATEGORY"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of Correspondence",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Correspondence"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/CorrespondenceSet(PARTNERKEY='{PARTNERKEY}',VKONT='{VKONT}',DATEHIGH='{DATEHIGH}',DATELOW='{DATELOW}')": {
      "parameters": [
        {
          "name": "PARTNERKEY",
          "in": "path",
          "required": true,
          "description": "key: PARTNERKEY",
          "schema": {
            "type": "string",
            "maxLength": 10
          }
        },
        {
          "name": "VKONT",
          "in": "path",
          "required": true,
          "description": "key: VKONT",
          "schema": {
            "type": "string",
            "maxLength": 12
          }
        },
        {
          "name": "DATEHIGH",
          "in": "path",
          "required": true,
          "description": "key: DATEHIGH",
          "schema": {
            "type": "string",
            "maxLength": 8
          }
        },
        {
          "name": "DATELOW",
          "in": "path",
          "required": true,
          "description": "key: DATELOW",
          "schema": {
            "type": "string",
            "maxLength": 8
          }
        }
      ],
      "get": {
        "summary": "Get entity from CorrespondenceSet by key",
        "tags": [
          "CorrespondenceSet"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "PARTNERKEY",
                  "VKONT",
                  "DATEHIGH",
                  "DATELOW",
                  "DOCID",
                  "DOCDESC",
                  "DOCTYPE",
                  "DOCDATE",
                  "MIME_TYPE",
                  "DOCCATEGORY"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Correspondence",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Correspondence"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/InteractionSet": {
      "get": {
        "summary": "Get entities from InteractionSet",
        "tags": [
          "InteractionSet"
        ],
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "PARTNERKEY",
                  "VKONT",
                  "DATEHIGH",
                  "DATELOW",
                  "INTERACTIONDESC",
                  "INTERACTIONDATE",
                  "INTERACTIONDIRECTION",
                  "INTERACTIONCHANNEL"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entities",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Wrapper",
                  "type": "object",
                  "properties": {
                    "d": {
                      "title": "Collection of Interaction",
                      "type": "object",
                      "properties": {
                        "__count": {
                          "$ref": "#/components/schemas/count"
                        },
                        "results": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Interaction"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/InteractionSet(PARTNERKEY='{PARTNERKEY}',VKONT='{VKONT}',DATEHIGH='{DATEHIGH}',DATELOW='{DATELOW}')": {
      "parameters": [
        {
          "name": "PARTNERKEY",
          "in": "path",
          "required": true,
          "description": "key: PARTNERKEY",
          "schema": {
            "type": "string",
            "maxLength": 10
          }
        },
        {
          "name": "VKONT",
          "in": "path",
          "required": true,
          "description": "key: VKONT",
          "schema": {
            "type": "string",
            "maxLength": 12
          }
        },
        {
          "name": "DATEHIGH",
          "in": "path",
          "required": true,
          "description": "key: DATEHIGH",
          "schema": {
            "type": "string",
            "maxLength": 8
          }
        },
        {
          "name": "DATELOW",
          "in": "path",
          "required": true,
          "description": "key: DATELOW",
          "schema": {
            "type": "string",
            "maxLength": 8
          }
        }
      ],
      "get": {
        "summary": "Get entity from InteractionSet by key",
        "tags": [
          "InteractionSet"
        ],
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
            "explode": false,
            "schema": {
              "type": "array",
              "uniqueItems": true,
              "items": {
                "type": "string",
                "enum": [
                  "PARTNERKEY",
                  "VKONT",
                  "DATEHIGH",
                  "DATELOW",
                  "INTERACTIONDESC",
                  "INTERACTIONDATE",
                  "INTERACTIONDIRECTION",
                  "INTERACTIONCHANNEL"
                ]
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Interaction",
                  "type": "object",
                  "properties": {
                    "d": {
                      "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Interaction"
                    }
                  }
                }
              }
            }
          },
          "4XX": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/DocumentDisplaySet": {
        "get": {
            "summary": "Get entities from DocumentDisplaySet",
            "tags": [
                "DocumentDisplaySet"
            ],
            "parameters": [
                {
                    "name": "$filter",
                    "in": "query",
                    "description": "Filter items by property values, see [Filtering](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=64)",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "$ref": "#/components/parameters/count"
                },
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "DOCID",
                                "DOCCATEGORY",
                                "MIME_TYPE",
                                "DOCURESOURCE",
                                "MESSAGETEXT"
                            ]
                        }
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "Retrieved entities",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "Wrapper",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "title": "Collection of DocumentDisplay",
                                        "type": "object",
                                        "properties": {
                                            "__count": {
                                                "$ref": "#/components/schemas/count"
                                            },
                                            "results": {
                                                "type": "array",
                                                "items": {
                                                    "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.DocumentDisplay"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "4XX": {
                    "$ref": "#/components/responses/error"
                }
            }
        }
    },
    "/DocumentDisplaySet(DOCID='{DOCID}',DOCCATEGORY='{DOCCATEGORY}',MIME_TYPE='{MIME_TYPE}')": {
        "parameters": [
            {
                "name": "DOCID",
                "in": "path",
                "required": true,
                "description": "Document Id",
                "schema": {
                    "type": "string",
                    "maxLength": 40
                }
            },
            {
                "name": "DOCCATEGORY",
                "in": "path",
                "required": true,
                "description": "Source System",
                "schema": {
                    "type": "string",
                    "maxLength": 4
                }
            },
            {
                "name": "MIME_TYPE",
                "in": "path",
                "required": true,
                "description": "Document Content Type",
                "schema": {
                    "type": "string",
                    "maxLength": 128
                }
            }
        ],
        "get": {
            "summary": "Get entity from DocumentDisplaySet by key",
            "tags": [
                "DocumentDisplaySet"
            ],
            "parameters": [
                {
                    "name": "$select",
                    "in": "query",
                    "description": "Select properties to be returned, see [Select](https://help.sap.com/doc/5890d27be418427993fafa6722cdc03b/Cloud/en-US/OdataV2.pdf#page=68)",
                    "explode": false,
                    "schema": {
                        "type": "array",
                        "uniqueItems": true,
                        "items": {
                            "type": "string",
                            "enum": [
                                "DOCID",
                                "DOCCATEGORY",
                                "MIME_TYPE",
                                "DOCURESOURCE",
                                "MESSAGETEXT"
                            ]
                        }
                    }
                }
            ],
            "responses": {
                "200": {
                    "description": "Retrieved entity",
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "DocumentDisplay",
                                "type": "object",
                                "properties": {
                                    "d": {
                                        "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.DocumentDisplay"
                                    }
                                }
                            }
                        }
                    }
                },
                "4XX": {
                    "$ref": "#/components/responses/error"
                }
            }
        }
    }
  },
  "components": {
    "schemas": {
      "HSSA.SCM_UTILITIES_SRV.Service_Address": {
        "type": "object",
        "properties": {
          "Active": {
            "type": "string",
            "maxLength": 1,
            "title": "Active"
          },
          "Bukrs": {
            "type": "string",
            "maxLength": 4,
            "title": "Company code"
          },
          "BusinessPartner": {
            "type": "string",
            "maxLength": 10,
            "title": "Business Partner"
          },
          "City": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "CollectiveAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Collective Account"
          },
          "ConnObj": {
            "type": "string",
            "maxLength": 30,
            "title": "Connection Object"
          },
          "Contract": {
            "type": "string",
            "maxLength": 10,
            "title": "Contract"
          },
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "Country": {
            "type": "string",
            "maxLength": 6,
            "title": "Counrty"
          },
          "CreditBalance": {
            "type": "string",
            "maxLength": 15,
            "title": "Credit Balance"
          },
          "DebitBalance": {
            "type": "string",
            "maxLength": 15,
            "title": "Debit Balance"
          },
          "Email": {
            "type": "string",
            "maxLength": 2,
            "title": "Email"
          },
          "EmailID": {
            "type": "string",
            "maxLength": 241,
            "title": "E Mail"
          },
          "Enterprise": {
            "type": "string",
            "maxLength": 1,
            "title": "Enterprise Flag"
          },
          "FirstName": {
            "type": "string",
            "maxLength": 40,
            "title": "First Name"
          },
          "HouseMeter": {
            "type": "string",
            "maxLength": 10,
            "title": "House Meter"
          },
          "HouseNum": {
            "type": "string",
            "maxLength": 80,
            "title": "House Number"
          },
          "HouseNum2": {
            "type": "string",
            "maxLength": 80,
            "title": "House Number2"
          },
          "Initials": {
            "type": "string",
            "maxLength": 10,
            "title": "Initials"
          },
          "LastName": {
            "type": "string",
            "maxLength": 40,
            "title": "Last Name"
          },
          "MiddleName": {
            "type": "string",
            "maxLength": 40,
            "title": "iddle Name"
          },
          "Mobile": {
            "type": "string",
            "maxLength": 30,
            "title": "Mobile"
          },
          "MoveInDate": {
            "type": "string",
            "maxLength": 12,
            "title": "Move In Date"
          },
          "MoveOutDate": {
            "type": "string",
            "maxLength": 12,
            "title": "Move Out Date"
          },
          "Nc_Col_Flag": {
            "type": "string",
            "maxLength": 2,
            "title": "Flag"
          },
          "Org2": {
            "type": "string",
            "maxLength": 40,
            "title": "Bu Name Organization2"
          },
          "Org3": {
            "type": "string",
            "maxLength": 40,
            "title": "Bu Name Organization3"
          },
          "Org4": {
            "type": "string",
            "maxLength": 40,
            "title": "Bu Name Organization4"
          },
          "OrgName": {
            "type": "string",
            "maxLength": 40,
            "title": "Name Organization1"
          },
          "PaperlessBill": {
            "type": "string",
            "maxLength": 2,
            "title": "Paperless Bill"
          },
          "PostCode": {
            "type": "string",
            "maxLength": 10,
            "title": "Post Code"
          },
          "Prefix": {
            "type": "string",
            "maxLength": 10,
            "title": "Prefix"
          },
          "Premiseid": {
            "type": "string",
            "maxLength": 10,
            "title": "Premise"
          },
          "PremiseType": {
            "type": "string",
            "maxLength": 4,
            "title": "Premise Type"
          },
          "Region": {
            "type": "string",
            "maxLength": 20,
            "title": "Region"
          },
          "Relcatcode": {
            "type": "string",
            "maxLength": 4,
            "title": "Rel Code"
          },
          "Reltypecode": {
            "type": "string",
            "maxLength": 4,
            "title": "Rel Type Code"
          },
          "SecondaryBp": {
            "type": "string",
            "maxLength": 10,
            "title": "Business Partner Number"
          },
          "SMS": {
            "type": "string",
            "maxLength": 2,
            "title": "SMS"
          },
          "Street": {
            "type": "string",
            "maxLength": 80,
            "title": "Street"
          },
          "TotalBalance": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.0001,
            "example": "0",
            "title": "Total Balance"
          },
          "Telephone": {
            "type": "string",
            "maxLength": 30,
            "title": "Telephone"
          },
          "Title": {
            "type": "string",
            "maxLength": 20,
            "title": "Title"
          },
          "ZeroBalance": {
            "type": "string",
            "maxLength": 15,
            "title": "Zero Balance"
          },
          "AddressLine1": {
            "type": "string",
            "maxLength": 80,
            "title": "Address Line"
          }
        },
        "title": "Service_Address"
      },
      "HSSA.SCM_UTILITIES_SRV.Service_Address-create": {
        "type": "object",
        "title": "Service_Address (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Service_Address-update": {
        "type": "object",
        "title": "Service_Address (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Invoices": {
        "type": "object",
        "properties": {
          "Invid": {
            "type": "string",
            "maxLength": 40,
            "title": "Invoice Identificati"
          },
          "BusinessPartner": {
            "type": "string",
            "maxLength": 10,
            "title": "Business partn."
          },
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Acct"
          },
          "Contract": {
            "type": "string",
            "maxLength": 20,
            "title": "Contract Number"
          },
          "DueDate": {
            "type": "string",
            "nullable": true,
            "maxLength": 8,
            "title": "Net Due Date"
          },
          "RemainingBalanceDue": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.01,
            "minimum": -99999999999.99,
            "maximum": 99999999999.99,
            "example": "0",
            "title": "Amount Due"
          },
          "Currency": {
            "type": "string",
            "maxLength": 5,
            "title": "Currency"
          },
          "Amountpaid": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.01,
            "minimum": -99999999999.99,
            "maximum": 99999999999.99,
            "example": "0",
            "title": "Amount Paid"
          },
          "AmountpaidDate": {
            "type": "string",
            "nullable": true,
            "maxLength": 8,
            "title": "Amount Paid Date"
          },
          "Payinfo": {
            "type": "string",
            "maxLength": 140,
            "title": "Invoice Description"
          },
          "Status": {
            "type": "string",
            "maxLength": 2,
            "title": "Status"
          },
          "TotalBillThisPeriod": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.01,
            "minimum": -99999999999.99,
            "maximum": 99999999999.99,
            "example": "0",
            "title": "Total Bill This Period"
          },
          "DateFrom": {
            "type": "string",
            "nullable": true,
            "maxLength": 8,
            "title": "From Date"
          },
          "DateTo": {
            "type": "string",
            "nullable": true,
            "maxLength": 8,
            "title": "To Date"
          },
          "LateFee": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.01,
            "minimum": -99999999999.99,
            "maximum": 99999999999.99,
            "example": "0",
            "title": "Late Fee"
          },
          "PreAmountDue": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.01,
            "minimum": -99999999999.99,
            "maximum": 99999999999.99,
            "example": "0",
            "title": "Previous Amount Due"
          },
          "Other_Charg": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Other Charges"
          },
          "BB_Plan_Amt": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Budget Billing Plan"
          },
          "Instal_Amt": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Installment Amount"
          },
          "Ele_Usage": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Electric Usage This Period"
          },
          "Gas_Usage": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Gas Usage This Period"
          },
          "Wat_Usage": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Water Usage"
          },
          "TotalAmountDue": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Total Amount Due"
          },
          "RecBalance": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Reconnect balance"
          },
          "PayPeriod": {
            "type": "string",
            "maxLength": 6,
            "title": "Payment Period"
          },
          "MeterType": {
            "type": "string",
            "maxLength": 10,
            "title": "Meter Type"
          },
          "FirstName": {
            "type": "string",
            "maxLength": 40,
            "title": "First Name"
          },
          "MiddleName": {
            "type": "string",
            "maxLength": 40,
            "title": "Middle Name"
          },
          "LastName": {
            "type": "string",
            "maxLength": 40,
            "title": "Last Name"
          },
          "OrgName1": {
            "type": "string",
            "maxLength": 40,
            "title": "Organisation Name"
          },
          "OrgName2": {
            "type": "string",
            "maxLength": 40,
            "title": "Organisation Name"
          },
          "OrgName3": {
            "type": "string",
            "maxLength": 40,
            "title": "Organisation Name"
          },
          "CustomerType": {
            "type": "string",
            "maxLength": 10,
            "title": "Customer Type"
          },
          "HouseNum": {
            "type": "string",
            "maxLength": 80,
            "title": "House Number"
          },
          "Street": {
            "type": "string",
            "maxLength": 80,
            "title": "Street"
          },
          "City": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "Region": {
            "type": "string",
            "maxLength": 20,
            "title": "Region"
          },
          "Country": {
            "type": "string",
            "maxLength": 6,
            "title": "Country"
          },
          "PostCode": {
            "type": "string",
            "maxLength": 10,
            "title": "Postal Code"
          },
          "NavInvoicetoBillAmt": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillSummaryAmt"
                }
              }
            }
          },
          "NavInvoicetoBillDetails": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillSummaryDetails"
                }
              }
            }
          },
          "PaymentinprocessitemsSet": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Paymentinprocessitems"
                }
              }
            }
          }
        },
        "title": "Invoices"
      },
      "HSSA.SCM_UTILITIES_SRV.Invoices-create": {
        "type": "object",
        "properties": {
          "NavInvoicetoBillAmt": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillSummaryAmt-create"
                }
              }
            }
          },
          "NavInvoicetoBillDetails": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BillSummaryDetails-create"
                }
              }
            }
          },
          "PaymentinprocessitemsSet": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Paymentinprocessitems-create"
                }
              }
            }
          }
        },
        "title": "Invoices (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Invoices-update": {
        "type": "object",
        "title": "Invoices (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.BillPayHistory": {
        "type": "object",
        "properties": {
          "BusinessPartner": {
            "type": "string",
            "maxLength": 10,
            "title": "BusPartner"
          },
          "DueDateHigh": {
            "type": "string",
            "nullable": true,
            "example": "/Date(1492098664000)/",
            "title": "Date"
          },
          "DueDateLow": {
            "type": "string",
            "nullable": true,
            "example": "/Date(1492098664000)/",
            "title": "Date"
          },
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Acct"
          },
          "Contract": {
            "type": "string",
            "maxLength": 20,
            "title": "Contract"
          },
          "BillPay": {
            "type": "string",
            "maxLength": 15,
            "title": "Bill Payment Indicator"
          },
          "Status": {
            "type": "string",
            "maxLength": 3,
            "title": "Status"
          },
          "Invid": {
            "type": "string",
            "maxLength": 40,
            "title": "Bill Number"
          },
          "InvDate": {
            "type": "string",
            "nullable": true,
            "example": "/Date(1492098664000)/",
            "title": "Date"
          },
          "Amount": {
            "type": "string",
            "nullable": true,
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Currency amount"
          },
          "Currency": {
            "type": "string",
            "maxLength": 15,
            "title": "Currency"
          },
          "DueDate": {
            "type": "string",
            "nullable": true,
            "example": "/Date(1492098664000)/",
            "title": "Date"
          }
        },
        "title": "BillPayHistory"
      },
      "HSSA.SCM_UTILITIES_SRV.BillPayHistory-create": {
        "type": "object",
        "title": "BillPayHistory (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.BillPayHistory-update": {
        "type": "object",
        "title": "BillPayHistory (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Address_Validation": {
        "type": "object",
        "properties": {
          "Region": {
            "type": "string",
            "maxLength": 3,
            "title": "Region"
          },
          "PostalCode": {
            "type": "string",
            "maxLength": 10,
            "title": "Postal Code"
          },
          "PoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PoBox"
          },
          "City": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "Street": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "Apartment_No": {
            "type": "string",
            "maxLength": 10,
            "title": "Apartment Number"
          },
          "House_No": {
            "type": "string",
            "maxLength": 10,
            "title": "House Number"
          },
          "Country": {
            "type": "string",
            "maxLength": 3,
            "title": "Country"
          },
          "Sel_Line": {
            "type": "string",
            "maxLength": 1,
            "title": "Selection Line"
          },
          "Primary_Side": {
            "type": "string",
            "maxLength": 1,
            "title": "Suggestion List Primary Side Indicator"
          },
          "Secondary_Side": {
            "type": "string",
            "maxLength": 1,
            "title": "Suggestion List Secondary Side Indicator"
          },
          "RangeType": {
            "type": "string",
            "maxLength": 10,
            "title": "Suggestion Range Type"
          },
          "RangeLow": {
            "type": "string",
            "maxLength": 50,
            "title": "Range Low"
          },
          "RangeHigh": {
            "type": "string",
            "maxLength": 50,
            "title": "Range High"
          },
          "Description": {
            "type": "string",
            "maxLength": 255,
            "title": "Adddress"
          }
        },
        "title": "Address_Validation"
      },
      "HSSA.SCM_UTILITIES_SRV.Address_Validation-create": {
        "type": "object",
        "title": "Address_Validation (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Address_Validation-update": {
        "type": "object",
        "title": "Address_Validation (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.BudgetBillingPlan": {
        "type": "object",
        "properties": {
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "Contract": {
            "type": "string",
            "maxLength": 10,
            "title": "Contract"
          },
          "StartDate": {
            "type": "string",
            "maxLength": 8,
            "title": "Start Date"
          },
          "EndDate": {
            "type": "string",
            "maxLength": 8,
            "title": "End Date"
          },
          "Amount": {
            "type": "string",
            "format": "decimal",
            "multipleOf": 0.001,
            "minimum": -9999999999.999,
            "maximum": 9999999999.999,
            "example": "0",
            "title": "Amount"
          },
          "Message": {
            "type": "string",
            "maxLength": 120,
            "title": "Message"
          },
          "BBPlanExists": {
            "type": "string",
            "maxLength": 1,
            "title": "BB Plan Exists"
          },
          "NotEligible": {
            "type": "string",
            "maxLength": 1,
            "title": "Not Eligible"
          }
        },
        "title": "BudgetBillingPlan"
      },
      "HSSA.SCM_UTILITIES_SRV.BudgetBillingPlan-create": {
        "type": "object",
        "title": "BudgetBillingPlan (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.BudgetBillingPlan-update": {
        "type": "object",
        "title": "BudgetBillingPlan (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Account": {
        "type": "object",
        "properties": {
          "Addrnumber": {
            "type": "string",
            "maxLength": 10,
            "title": "Address number"
          },
          "ADId": {
            "type": "string",
            "maxLength": 2,
            "title": "Account Determination Id"
          },
          "City1": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "Country": {
            "type": "string",
            "maxLength": 3,
            "title": "Country"
          },
          "Email": {
            "type": "string",
            "maxLength": 241,
            "title": "E-Mail Address"
          },
          "Gpart": {
            "type": "string",
            "maxLength": 10,
            "title": "Business partn."
          },
          "HouseNum1": {
            "type": "string",
            "maxLength": 10,
            "title": "House Number"
          },
          "HouseNum2": {
            "type": "string",
            "maxLength": 10,
            "title": "Supplement"
          },
          "Initials": {
            "type": "string",
            "maxLength": 10,
            "title": "Initials"
          },
          "Mobile": {
            "type": "string",
            "maxLength": 30,
            "title": "Mobile"
          },
          "Name1": {
            "type": "string",
            "maxLength": 40,
            "title": "Name"
          },
          "NameCo": {
            "type": "string",
            "maxLength": 40,
            "title": "c/o"
          },
          "NameLast": {
            "type": "string",
            "maxLength": 40,
            "title": "Last name"
          },
          "Namemiddle": {
            "type": "string",
            "maxLength": 40,
            "title": "Middle Name"
          },
          "NameOrg1": {
            "type": "string",
            "maxLength": 40,
            "title": "Name 1"
          },
          "NameOrg2": {
            "type": "string",
            "maxLength": 40,
            "title": "Name 2"
          },
          "NameOrg3": {
            "type": "string",
            "maxLength": 40,
            "title": "Name 3"
          },
          "NameOrg4": {
            "type": "string",
            "maxLength": 40,
            "title": "Name 4"
          },
          "NameSuppl": {
            "type": "string",
            "maxLength": 20,
            "title": "Name supplement"
          },
          "PoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PO Box"
          },
          "PostCode1": {
            "type": "string",
            "maxLength": 10,
            "title": "Postal Code"
          },
          "PostCode2": {
            "type": "string",
            "maxLength": 10,
            "title": "PO box post cde"
          },
          "Prefix1": {
            "type": "string",
            "maxLength": 4,
            "title": "Prefix"
          },
          "Region": {
            "type": "string",
            "maxLength": 3,
            "title": "Region"
          },
          "Street": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "Telephone": {
            "type": "string",
            "maxLength": 30,
            "title": "Telephone"
          },
          "TimeZone": {
            "type": "string",
            "maxLength": 6,
            "title": "Address time zone"
          },
          "Title": {
            "type": "string",
            "maxLength": 4,
            "title": "Title"
          },
          "TitleRoyl": {
            "type": "string",
            "maxLength": 4,
            "title": "Name Supplement"
          },
          "Type": {
            "type": "string",
            "maxLength": 1,
            "title": "Partner cat."
          },
          "UpdateFlag": {
            "type": "string",
            "maxLength": 1,
            "title": "Single-Character Indicator"
          },
          "Vkonto": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Acct"
          }
        },
        "title": "Account"
      },
      "HSSA.SCM_UTILITIES_SRV.Account-create": {
        "type": "object",
        "title": "Account (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Account-update": {
        "type": "object",
        "title": "Account (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Registration": {
        "type": "object",
        "properties": {
          "Action": {
            "type": "string",
            "maxLength": 10,
            "title": "Action"
          },
          "Active": {
            "type": "string",
            "maxLength": 2,
            "title": "Active"
          },
          "Actype": {
            "type": "string",
            "maxLength": 2,
            "title": "Account Type"
          },
          "KofizSd": {
            "type": "string",
            "maxLength": 2,
            "title": "Account Determination ID"
          },
          "ApartmentService": {
            "type": "string",
            "maxLength": 10,
            "title": "Apartment Service"
          },
          "HouseNum2": {
            "type": "string",
            "maxLength": 10,
            "title": "House Number2"
          },
          "BusinessPartner": {
            "type": "string",
            "maxLength": 10,
            "title": "Bussiness Partner"
          },
          "NameCo": {
            "type": "string",
            "maxLength": 40,
            "title": "c/o name"
          },
          "AusgrupIn": {
            "type": "string",
            "maxLength": 8,
            "title": "Outsorting Check Group for Invoicing"
          },
          "City": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "CityService": {
            "type": "string",
            "maxLength": 40,
            "title": "City Service"
          },
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "Vkona": {
            "type": "string",
            "maxLength": 20,
            "title": "Contract Account"
          },
          "Country": {
            "type": "string",
            "maxLength": 6,
            "title": "Country"
          },
          "CountryService": {
            "type": "string",
            "maxLength": 6,
            "title": "Country Service"
          },
          "Dateofbirth": {
            "type": "string",
            "maxLength": 8,
            "title": "BP Date of Birth"
          },
          "Enterprise": {
            "type": "string",
            "maxLength": 1,
            "title": "Enterprise"
          },
          "FirstName": {
            "type": "string",
            "maxLength": 40,
            "title": "First Name"
          },
          "FlagBp": {
            "type": "string",
            "maxLength": 1,
            "title": "Flag BP"
          },
          "HousenoService": {
            "type": "string",
            "maxLength": 10,
            "title": "House No Service"
          },
          "Address1": {
            "type": "string",
            "maxLength": 10,
            "title": "Address1"
          },
          "IdFlag": {
            "type": "string",
            "maxLength": 60,
            "title": "SAP ID flag update"
          },
          "GovId": {
            "type": "string",
            "maxLength": 60,
            "title": "Goverment ID"
          },
          "Initials": {
            "type": "string",
            "maxLength": 10,
            "title": "Initials"
          },
          "LastName": {
            "type": "string",
            "maxLength": 40,
            "title": "Last Name"
          },
          "Message": {
            "type": "string",
            "maxLength": 30,
            "title": "Message"
          },
          "MessageType": {
            "type": "string",
            "maxLength": 1,
            "title": "Message Type"
          },
          "Meterno": {
            "type": "string",
            "maxLength": 18,
            "title": "Meter Number"
          },
          "MiddleName": {
            "type": "string",
            "maxLength": 40,
            "title": "Middle Name"
          },
          "Primary": {
            "type": "string",
            "maxLength": 30,
            "title": "Primary"
          },
          "NameSuppl": {
            "type": "string",
            "maxLength": 20,
            "title": "Name Suppl"
          },
          "Boole": {
            "type": "string",
            "maxLength": 1,
            "title": "Boole"
          },
          "BuNameor2": {
            "type": "string",
            "maxLength": 40,
            "title": "Bu name Organization2"
          },
          "BuNameor3": {
            "type": "string",
            "maxLength": 40,
            "title": "Bu Name Organization3"
          },
          "BuNameor4": {
            "type": "string",
            "maxLength": 40,
            "title": "Bu Name Organization4"
          },
          "NameOrg1": {
            "type": "string",
            "maxLength": 40,
            "title": "Name Organization1"
          },
          "Paperless": {
            "type": "string",
            "maxLength": 1,
            "title": "Paperless"
          },
          "PoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "Po Box"
          },
          "PostCode2": {
            "type": "string",
            "maxLength": 10,
            "title": "Po Box Zip"
          },
          "PostCode": {
            "type": "string",
            "maxLength": 10,
            "title": "Post Code"
          },
          "PostCodeService": {
            "type": "string",
            "maxLength": 10,
            "title": "Post Code Service"
          },
          "Prefix": {
            "type": "string",
            "maxLength": 10,
            "title": "prefix"
          },
          "PEMail": {
            "type": "string",
            "maxLength": 241,
            "title": "Primary Email"
          },
          "Region": {
            "type": "string",
            "maxLength": 20,
            "title": "Region"
          },
          "RegionService": {
            "type": "string",
            "maxLength": 20,
            "title": "Region Service"
          },
          "SEMail": {
            "type": "string",
            "maxLength": 241,
            "title": "Secondry Email"
          },
          "SendcontrolGp": {
            "type": "string",
            "maxLength": 4,
            "title": "Send Control GP"
          },
          "Address2": {
            "type": "string",
            "maxLength": 80,
            "title": "Address2"
          },
          "StreetService": {
            "type": "string",
            "maxLength": 80,
            "title": "Street Service"
          },
          "Alternate": {
            "type": "string",
            "maxLength": 30,
            "title": "Alternate"
          },
          "Title": {
            "type": "string",
            "maxLength": 20,
            "title": "Title"
          },
          "PostCode1": {
            "type": "string",
            "maxLength": 10,
            "title": "Post Code1"
          },
          "PrimaryDesc": {
            "type": "string",
            "maxLength": 10,
            "title": "Primary Description"
          },
          "SecondaryDesc": {
            "type": "string",
            "maxLength": 10,
            "title": "Secondary Descirption"
          },
          "ZzPremise": {
            "type": "string",
            "maxLength": 10,
            "title": "PREMISE"
          },
          "ZzGovId2": {
            "type": "string",
            "maxLength": 60,
            "title": "GOV_ID2"
          },
          "ZzOwnername": {
            "type": "string",
            "maxLength": 200,
            "title": "OWNERNAME"
          },
          "ZzReorgname": {
            "type": "string",
            "maxLength": 200,
            "title": "REOrgname"
          },
          "ZzCdcuid": {
            "type": "string",
            "maxLength": 32,
            "title": "Unique ID"
          },
          "ZzNickname": {
            "type": "string",
            "maxLength": 40,
            "title": "NICKNAME"
          },
          "ZzPrimaryType": {
            "type": "string",
            "maxLength": 10,
            "title": "PRIMARY TYPE"
          },
          "ZzSecondaryType": {
            "type": "string",
            "maxLength": 10,
            "title": "SECONDARY TYPE"
          }
        },
        "title": "Registration"
      },
      "HSSA.SCM_UTILITIES_SRV.Registration-create": {
        "type": "object",
        "properties": {
          "PrimaryDesc": {
            "type": "string",
            "maxLength": 10,
            "title": "Primary Description"
          },
          "SecondaryDesc": {
            "type": "string",
            "maxLength": 10,
            "title": "Secondary Descirption"
          },
          "ZzPremise": {
            "type": "string",
            "maxLength": 10,
            "title": "PREMISE"
          },
          "ZzGovId2": {
            "type": "string",
            "maxLength": 60,
            "title": "GOV_ID2"
          },
          "ZzOwnername": {
            "type": "string",
            "maxLength": 200,
            "title": "OWNERNAME"
          },
          "ZzReorgname": {
            "type": "string",
            "maxLength": 200,
            "title": "REOrgname"
          },
          "ZzCdcuid": {
            "type": "string",
            "maxLength": 32,
            "title": "Unique ID"
          },
          "ZzNickname": {
            "type": "string",
            "maxLength": 40,
            "title": "NICKNAME"
          },
          "ZzPrimaryType": {
            "type": "string",
            "maxLength": 10,
            "title": "PRIMARY TYPE"
          },
          "ZzSecondaryType": {
            "type": "string",
            "maxLength": 10,
            "title": "SECONDARY TYPE"
          }
        },
        "title": "Registration (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Registration-update": {
        "type": "object",
        "properties": {
          "PrimaryDesc": {
            "type": "string",
            "maxLength": 10,
            "title": "Primary Description"
          },
          "SecondaryDesc": {
            "type": "string",
            "maxLength": 10,
            "title": "Secondary Descirption"
          },
          "ZzPremise": {
            "type": "string",
            "maxLength": 10,
            "title": "PREMISE"
          },
          "ZzGovId2": {
            "type": "string",
            "maxLength": 60,
            "title": "GOV_ID2"
          },
          "ZzOwnername": {
            "type": "string",
            "maxLength": 200,
            "title": "OWNERNAME"
          },
          "ZzReorgname": {
            "type": "string",
            "maxLength": 200,
            "title": "REOrgname"
          },
          "ZzCdcuid": {
            "type": "string",
            "maxLength": 32,
            "title": "Unique ID"
          },
          "ZzNickname": {
            "type": "string",
            "maxLength": 40,
            "title": "NICKNAME"
          },
          "ZzPrimaryType": {
            "type": "string",
            "maxLength": 10,
            "title": "PRIMARY TYPE"
          },
          "ZzSecondaryType": {
            "type": "string",
            "maxLength": 10,
            "title": "SECONDARY TYPE"
          }
        },
        "title": "Registration (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.AccntStatus": {
        "type": "object",
        "properties": {
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "Premise": {
            "type": "string",
            "maxLength": 10,
            "title": "Premise"
          },
          "Description": {
            "type": "string",
            "maxLength": 40,
            "title": "Description"
          },
          "EStatus": {
            "type": "string",
            "maxLength": 10,
            "title": "Status"
          }
        },
        "title": "AccntStatus"
      },
      "HSSA.SCM_UTILITIES_SRV.AccntStatus-create": {
        "type": "object",
        "title": "AccntStatus (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.AccntStatus-update": {
        "type": "object",
        "title": "AccntStatus (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.ContactLog": {
        "type": "object",
        "properties": {
          "ContractAccount": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "Partner": {
            "type": "string",
            "maxLength": 10,
            "title": "Partner"
          },
          "Note": {
            "type": "string",
            "maxLength": 100,
            "title": "Note"
          },
          "Class": {
            "type": "string",
            "maxLength": 4,
            "title": "Class"
          },
          "Activity": {
            "type": "string",
            "maxLength": 4,
            "title": "Activity"
          },
          "Type": {
            "type": "string",
            "maxLength": 3,
            "title": "Type"
          },
          "Direction": {
            "type": "string",
            "maxLength": 1,
            "title": "Direction"
          },
          "Contact": {
            "type": "string",
            "maxLength": 12,
            "title": "Contact"
          }
        },
        "title": "ContactLog"
      },
      "HSSA.SCM_UTILITIES_SRV.ContactLog-create": {
        "type": "object",
        "title": "ContactLog (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.ContactLog-update": {
        "type": "object",
        "title": "ContactLog (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.BusinessPartner": {
        "type": "object",
        "properties": {
          "Alternate": {
            "type": "string",
            "maxLength": 30,
            "title": "Telephone"
          },
          "EMail": {
            "type": "string",
            "maxLength": 241,
            "title": "E-mail"
          },
          "Firstname": {
            "type": "string",
            "maxLength": 40,
            "title": "First Name"
          },
          "IdentificationNumber": {
            "type": "string",
            "maxLength": 60,
            "title": "Identification Number"
          },
          "Lastname": {
            "type": "string",
            "maxLength": 40,
            "title": "Last Name"
          },
          "MCity": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "MHouseNo": {
            "type": "string",
            "maxLength": 10,
            "title": "House/Building #"
          },
          "Middlename": {
            "type": "string",
            "maxLength": 40,
            "title": "Middle Name"
          },
          "MNameCo": {
            "type": "string",
            "maxLength": 40,
            "title": "c/o"
          },
          "Telephone": {
            "type": "string",
            "maxLength": 30,
            "title": "Mobile"
          },
          "MPoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PO Box"
          },
          "MPostlCod1": {
            "type": "string",
            "maxLength": 10,
            "title": "Zip Code"
          },
          "MRegion": {
            "type": "string",
            "maxLength": 3,
            "title": "State/Province"
          },
          "Msg": {
            "type": "string",
            "maxLength": 241,
            "title": "Message"
          },
          "MStreet": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "PartnerId": {
            "type": "string",
            "maxLength": 10,
            "title": "Account ID"
          },
          "Status": {
            "type": "string",
            "maxLength": 241,
            "title": "Status"
          },
          "Title": {
            "type": "string",
            "maxLength": 4,
            "title": "Title"
          },
          "NavBPToBPItem": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BusinessPartnerItem"
                }
              }
            }
          }
        },
        "title": "BusinessPartner"
      },
      "HSSA.SCM_UTILITIES_SRV.BusinessPartner-create": {
        "type": "object",
        "properties": {
          "Alternate": {
            "type": "string",
            "maxLength": 30,
            "title": "Telephone"
          },
          "EMail": {
            "type": "string",
            "maxLength": 241,
            "title": "E-mail"
          },
          "Firstname": {
            "type": "string",
            "maxLength": 40,
            "title": "First Name"
          },
          "Lastname": {
            "type": "string",
            "maxLength": 40,
            "title": "Last Name"
          },
          "MCity": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "MHouseNo": {
            "type": "string",
            "maxLength": 10,
            "title": "House/Building #"
          },
          "Middlename": {
            "type": "string",
            "maxLength": 40,
            "title": "Middle Name"
          },
          "MNameCo": {
            "type": "string",
            "maxLength": 40,
            "title": "c/o"
          },
          "Telephone": {
            "type": "string",
            "maxLength": 30,
            "title": "Mobile"
          },
          "MPoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PO Box"
          },
          "MPostlCod1": {
            "type": "string",
            "maxLength": 10,
            "title": "Zip Code"
          },
          "MRegion": {
            "type": "string",
            "maxLength": 3,
            "title": "State/Province"
          },
          "MStreet": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "NavBPToBPItem": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.BusinessPartnerItem-create"
                }
              }
            }
          }
        },
        "title": "BusinessPartner (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.BusinessPartner-update": {
        "type": "object",
        "properties": {
          "Alternate": {
            "type": "string",
            "maxLength": 30,
            "title": "Telephone"
          },
          "EMail": {
            "type": "string",
            "maxLength": 241,
            "title": "E-mail"
          },
          "Firstname": {
            "type": "string",
            "maxLength": 40,
            "title": "First Name"
          },
          "Lastname": {
            "type": "string",
            "maxLength": 40,
            "title": "Last Name"
          },
          "MCity": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "MHouseNo": {
            "type": "string",
            "maxLength": 10,
            "title": "House/Building #"
          },
          "Middlename": {
            "type": "string",
            "maxLength": 40,
            "title": "Middle Name"
          },
          "MNameCo": {
            "type": "string",
            "maxLength": 40,
            "title": "c/o"
          },
          "Telephone": {
            "type": "string",
            "maxLength": 30,
            "title": "Mobile"
          },
          "MPoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PO Box"
          },
          "MPostlCod1": {
            "type": "string",
            "maxLength": 10,
            "title": "Zip Code"
          },
          "MRegion": {
            "type": "string",
            "maxLength": 3,
            "title": "State/Province"
          },
          "MStreet": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          }
        },
        "title": "BusinessPartner (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.BusinessPartnerItem": {
        "type": "object",
        "properties": {
          "PartnerId": {
            "type": "string",
            "maxLength": 10,
            "title": "Account ID"
          },
          "ValidDate": {
            "type": "string",
            "maxLength": 10,
            "title": "Valid Date"
          }
        },
        "title": "BusinessPartnerItem"
      },
      "HSSA.SCM_UTILITIES_SRV.BusinessPartnerItem-create": {
        "type": "object",
        "title": "BusinessPartnerItem (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.BusinessPartnerItem-update": {
        "type": "object",
        "title": "BusinessPartnerItem (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.AutoPay": {
        "type": "object",
        "properties": {
          "VKONT": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account Number"
          },
          "GPART": {
            "type": "string",
            "maxLength": 10,
            "title": "Business Partner Number"
          },
          "EBVTY": {
            "type": "string",
            "maxLength": 4,
            "title": "Bank Details ID for Incoming Payments"
          },
          "EZAWE": {
            "type": "string",
            "maxLength": 1,
            "title": "Incoming Payment Method"
          },
          "Days": {
            "type": "string",
            "maxLength": 1,
            "title": "Auto Pay Days"
          },
          "Bankaccountno": {
            "type": "string",
            "maxLength": 18,
            "title": "BankAccountNo"
          },
          "Alt_BP": {
            "type": "string",
            "maxLength": 10,
            "title": "Alternate BP"
          },
          "Message": {
            "type": "string",
            "maxLength": 220,
            "title": "Message"
          },
          "MessageType": {
            "type": "string",
            "maxLength": 1,
            "title": "Message Type"
          },
          "MessageCode": {
            "type": "string",
            "maxLength": 4,
            "title": "Message Code"
          },
          "EligibilityFlag": {
            "type": "string",
            "maxLength": 1,
            "title": "Eligibility Flag"
          }
        },
        "title": "AutoPay"
      },
      "HSSA.SCM_UTILITIES_SRV.AutoPay-create": {
        "type": "object",
        "title": "AutoPay (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.AutoPay-update": {
        "type": "object",
        "title": "AutoPay (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.PaperlessAccounts": {
        "type": "object",
        "properties": {
          "VKONT": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "GPART": {
            "type": "string",
            "maxLength": 10,
            "title": "Business Partner"
          },
          "PAPERLESS": {
            "type": "string",
            "maxLength": 1,
            "title": "Paper Less"
          },
          "SENDCONTROL_GP": {
            "type": "string",
            "maxLength": 4,
            "title": "Send Control GP"
          },
          "Message": {
            "type": "string",
            "maxLength": 220,
            "title": "Message"
          },
          "MessageType": {
            "type": "string",
            "maxLength": 1,
            "title": "Message Type"
          },
          "MessageCode": {
            "type": "string",
            "maxLength": 4,
            "title": "Message Code"
          },
          "EligibilityFlag": {
            "type": "string",
            "maxLength": 1,
            "title": "Eligibility Flag"
          }
        },
        "title": "PaperlessAccounts"
      },
      "HSSA.SCM_UTILITIES_SRV.PaperlessAccounts-create": {
        "type": "object",
        "title": "PaperlessAccounts (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.PaperlessAccounts-update": {
        "type": "object",
        "title": "PaperlessAccounts (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Paperless": {
        "type": "object",
        "properties": {
          "PAPERLESS": {
            "type": "string",
            "maxLength": 1,
            "title": "Paperless"
          },
          "NavPaperless": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PaperlessAccounts"
                }
              }
            }
          }
        },
        "title": "Paperless"
      },
      "HSSA.SCM_UTILITIES_SRV.Paperless-create": {
        "type": "object",
        "properties": {
          "NavPaperless": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.PaperlessAccounts-create"
                }
              }
            }
          }
        },
        "title": "Paperless (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Paperless-update": {
        "type": "object",
        "title": "Paperless (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.AutoPayHeader": {
        "type": "object",
        "properties": {
          "EZAWE": {
            "type": "string",
            "maxLength": 1,
            "title": "Incoming Payment Method"
          },
          "NavAutoPay": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.AutoPay"
                }
              }
            }
          }
        },
        "title": "AutoPayHeader"
      },
      "HSSA.SCM_UTILITIES_SRV.AutoPayHeader-create": {
        "type": "object",
        "properties": {
          "NavAutoPay": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.AutoPay-create"
                }
              }
            }
          }
        },
        "title": "AutoPayHeader (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.AutoPayHeader-update": {
        "type": "object",
        "title": "AutoPayHeader (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Mailing_address": {
        "type": "object",
        "properties": {
          "CA": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Acct"
          },
          "BP": {
            "type": "string",
            "maxLength": 10,
            "title": "Business partn."
          },
          "Addrnumber": {
            "type": "string",
            "maxLength": 10,
            "title": "Address number"
          },
          "HouseNum1": {
            "type": "string",
            "maxLength": 10,
            "title": "House Number"
          },
          "Street": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "City1": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "Country": {
            "type": "string",
            "maxLength": 3,
            "title": "Country"
          },
          "Name1": {
            "type": "string",
            "maxLength": 40,
            "title": "Name"
          },
          "PostCode1": {
            "type": "string",
            "maxLength": 10,
            "title": "Postal Code"
          },
          "Region": {
            "type": "string",
            "maxLength": 3,
            "title": "Region"
          },
          "Type": {
            "type": "string",
            "maxLength": 1,
            "title": "Partner cat."
          },
          "TimeZone": {
            "type": "string",
            "maxLength": 6,
            "title": "Address time zone"
          },
          "PostCode2": {
            "type": "string",
            "maxLength": 10,
            "title": "PO box post cde"
          },
          "PoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PO Box"
          },
          "HouseNum2": {
            "type": "string",
            "maxLength": 10,
            "title": "Supplement"
          },
          "Fix_flag": {
            "type": "string",
            "maxLength": 1,
            "title": "Fix flag"
          },
          "DefaultAdd": {
            "type": "string",
            "maxLength": 10,
            "title": "default address"
          },
          "Nick_name": {
            "type": "string",
            "maxLength": 35,
            "title": "Nick name"
          },
          "AddressType": {
            "type": "string",
            "maxLength": 3,
            "title": "Address Type"
          },
          "Message": {
            "type": "string",
            "maxLength": 220,
            "title": "Message"
          },
          "Messagetype": {
            "type": "string",
            "maxLength": 1,
            "title": "Message Type"
          },
          "Messagecode": {
            "type": "string",
            "maxLength": 4,
            "title": "Message Code"
          },
          "Location": {
            "type": "string",
            "maxLength": 40,
            "title": "Location"
          },
          "Building": {
            "type": "string",
            "maxLength": 20,
            "title": "Building"
          },
          "Floor": {
            "type": "string",
            "maxLength": 10,
            "title": "Floor"
          },
          "House_Num3": {
            "type": "string",
            "maxLength": 10,
            "title": "House_Num3"
          },
          "Deli_Serv_Type": {
            "type": "string",
            "maxLength": 4,
            "title": "Deli_Serv_Type"
          },
          "Deli_Serv_Number": {
            "type": "string",
            "maxLength": 10,
            "title": "Deli_Serv_Number"
          },
          "Str_Suppl1": {
            "type": "string",
            "maxLength": 40,
            "title": "Str_Suppl1"
          },
          "Str_Suppl2": {
            "type": "string",
            "maxLength": 40,
            "title": "Str_Suppl2"
          },
          "Str_Suppl3": {
            "type": "string",
            "maxLength": 40,
            "title": "Str_Suppl3"
          },
          "Po_Box_Lobby": {
            "type": "string",
            "maxLength": 40,
            "title": "Po_Box_Lobby"
          },
          "Addressline1": {
            "type": "string",
            "maxLength": 60,
            "title": "Addressline1"
          },
          "Addressline2": {
            "type": "string",
            "maxLength": 60,
            "title": "Addressline2"
          },
          "Addressline3": {
            "type": "string",
            "maxLength": 60,
            "title": "Addressline3"
          },
          "Addressline4": {
            "type": "string",
            "maxLength": 60,
            "title": "Addressline4"
          },
          "Addressline5": {
            "type": "string",
            "maxLength": 60,
            "title": "Addressline5"
          },
          "Addressline6": {
            "type": "string",
            "maxLength": 60,
            "title": "Addressline6"
          },
          "Premiseaddress_Flag": {
            "type": "string",
            "maxLength": 1,
            "title": "Premiseaddress_Flag"
          },
          "CareOf": {
            "type": "string",
            "maxLength": 50,
            "title": "CareOf"
          },
          "NavMailingAddress": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Mailing_address_Item"
                }
              }
            }
          }
        },
        "title": "Mailing_address"
      },
      "HSSA.SCM_UTILITIES_SRV.Mailing_address-create": {
        "type": "object",
        "properties": {
          "NavMailingAddress": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.Mailing_address_Item-create"
                }
              }
            }
          }
        },
        "title": "Mailing_address (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Mailing_address-update": {
        "type": "object",
        "title": "Mailing_address (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Mailing_address_Item": {
        "type": "object",
        "properties": {
          "CA": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Acct"
          },
          "Message": {
            "type": "string",
            "maxLength": 220,
            "title": "Message"
          },
          "Messagetype": {
            "type": "string",
            "maxLength": 1,
            "title": "Message Type"
          },
          "Messagecode": {
            "type": "string",
            "maxLength": 4,
            "title": "Message Code"
          }
        },
        "title": "Mailing_address_Item"
      },
      "HSSA.SCM_UTILITIES_SRV.Mailing_address_Item-create": {
        "type": "object",
        "title": "Mailing_address_Item (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Mailing_address_Item-update": {
        "type": "object",
        "title": "Mailing_address_Item (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Address_Validation1": {
        "type": "object",
        "properties": {
          "Region": {
            "type": "string",
            "maxLength": 3,
            "title": "Region"
          },
          "PostalCode": {
            "type": "string",
            "maxLength": 10,
            "title": "Postal Code"
          },
          "PoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PoBox"
          },
          "City": {
            "type": "string",
            "maxLength": 40,
            "title": "City"
          },
          "Street": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "Apartment_No": {
            "type": "string",
            "maxLength": 10,
            "title": "Apartment Number"
          },
          "House_No": {
            "type": "string",
            "maxLength": 10,
            "title": "House Number"
          },
          "Country": {
            "type": "string",
            "maxLength": 3,
            "title": "Country"
          },
          "Sel_Line": {
            "type": "string",
            "maxLength": 128,
            "title": "Selection Line"
          },
          "Primary_Side": {
            "type": "string",
            "maxLength": 1,
            "title": "Suggestion List Primary Side Indicator"
          },
          "Secondary_Side": {
            "type": "string",
            "maxLength": 1,
            "title": "Suggestion List Secondary Side Indicator"
          },
          "RangeType": {
            "type": "string",
            "maxLength": 10,
            "title": "Suggestion Range Type"
          },
          "RangeLow": {
            "type": "string",
            "maxLength": 50,
            "title": "Range Low"
          },
          "RangeHigh": {
            "type": "string",
            "maxLength": 50,
            "title": "Range High"
          },
          "Description": {
            "type": "string",
            "maxLength": 255,
            "title": "Adddress"
          }
        },
        "title": "Address_Validation1"
      },
      "HSSA.SCM_UTILITIES_SRV.Address_Validation1-create": {
        "type": "object",
        "title": "Address_Validation1 (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Address_Validation1-update": {
        "type": "object",
        "title": "Address_Validation1 (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInEligibilityExt": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "maxLength": 30,
            "title": "Field Name"
          },
          "FieldValue": {
            "type": "string",
            "maxLength": 255,
            "title": "Character value"
          }
        },
        "title": "MoveInEligibilityExt"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInEligibilityExt-create": {
        "type": "object",
        "title": "MoveInEligibilityExt (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInEligibilityExt-update": {
        "type": "object",
        "title": "MoveInEligibilityExt (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.Move": {
        "type": "object",
        "properties": {
          "MoveInDoc": {
            "type": "string",
            "maxLength": 12,
            "title": "Move-In Doc # or Contract #"
          },
          "MoveType": {
            "type": "string",
            "maxLength": 1,
            "title": "MoveType"
          },
          "AccountID": {
            "type": "string",
            "maxLength": 10,
            "title": "AccountID"
          },
          "MoveOutDoc": {
            "type": "string",
            "maxLength": 12,
            "title": "Move-Out Doc # or Contract #"
          },
          "Note": {
            "type": "string",
            "maxLength": 255,
            "title": "Note"
          },
          "Addrnumber": {
            "type": "string",
            "maxLength": 10,
            "title": "Addrnumber"
          },
          "HouseNum1": {
            "type": "string",
            "maxLength": 10,
            "title": "HouseNum1"
          },
          "Street": {
            "type": "string",
            "maxLength": 60,
            "title": "Street"
          },
          "City1": {
            "type": "string",
            "maxLength": 40,
            "title": "City1"
          },
          "Country": {
            "type": "string",
            "maxLength": 3,
            "title": "Country"
          },
          "Name1": {
            "type": "string",
            "maxLength": 40,
            "title": "Name1"
          },
          "PostCode1": {
            "type": "string",
            "maxLength": 10,
            "title": "PostCode1"
          },
          "Region": {
            "type": "string",
            "maxLength": 20,
            "title": "Region"
          },
          "Type": {
            "type": "string",
            "maxLength": 4,
            "title": "Type"
          },
          "TimeZone": {
            "type": "string",
            "maxLength": 16,
            "title": "TimeZone"
          },
          "PostCode2": {
            "type": "string",
            "maxLength": 10,
            "title": "PostCode2"
          },
          "PoBox": {
            "type": "string",
            "maxLength": 10,
            "title": "PoBox"
          },
          "HouseNum2": {
            "type": "string",
            "maxLength": 10,
            "title": "HouseNum2"
          },
          "Fix_flag": {
            "type": "string",
            "maxLength": 1,
            "title": "Fix_flag"
          },
          "DefaultAdd": {
            "type": "string",
            "maxLength": 10,
            "title": "DefaultAdd"
          },
          "Nick_name": {
            "type": "string",
            "maxLength": 40,
            "title": "Nick_name"
          },
          "AddressType": {
            "type": "string",
            "maxLength": 1,
            "title": "AddressType"
          },
          "NavMoveOToContData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.ContractDataMoveOut"
                }
              }
            }
          },
          "NavMoveOToCrData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveOutCrData"
                }
              }
            }
          },
          "NavMoveToContData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.ContractDataMoveIn"
                }
              }
            }
          },
          "NavMoveToMoveExtension": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveExtension"
                }
              }
            }
          },
          "NavMoveToCrData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveInCrData"
                }
              }
            }
          }
        },
        "title": "Move"
      },
      "HSSA.SCM_UTILITIES_SRV.Move-create": {
        "type": "object",
        "properties": {
          "NavMoveOToContData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.ContractDataMoveOut-create"
                }
              }
            }
          },
          "NavMoveOToCrData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveOutCrData-create"
                }
              }
            }
          },
          "NavMoveToContData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.ContractDataMoveIn-create"
                }
              }
            }
          },
          "NavMoveToMoveExtension": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveExtension-create"
                }
              }
            }
          },
          "NavMoveToCrData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveInCrData-create"
                }
              }
            }
          }
        },
        "title": "Move (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.Move-update": {
        "type": "object",
        "title": "Move (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.ContractDataMoveIn": {
        "type": "object",
        "properties": {
          "ReqReason": {
            "type": "string",
            "maxLength": 4,
            "title": "Reason for Requesting a Security Deposit"
          },
          "Contract": {
            "type": "string",
            "maxLength": 10,
            "title": "Contract"
          },
          "WaiverReason": {
            "type": "string",
            "maxLength": 4,
            "title": "Reason for exemption from security"
          },
          "Installation": {
            "type": "string",
            "maxLength": 10,
            "title": "Installation"
          },
          "Premise": {
            "type": "string",
            "maxLength": 10,
            "title": "Premise"
          },
          "CompCode": {
            "type": "string",
            "maxLength": 4,
            "title": "CompCode"
          },
          "Division": {
            "type": "string",
            "maxLength": 2,
            "title": "Division"
          },
          "ADID": {
            "type": "string",
            "maxLength": 2,
            "title": "ADID"
          },
          "ReqAmount": {
            "type": "string",
            "maxLength": 23,
            "title": "ReqAmount"
          },
          "Currency": {
            "type": "string",
            "maxLength": 3,
            "title": "Currency"
          },
          "StartDate": {
            "type": "string",
            "maxLength": 8,
            "title": "StartDate"
          },
          "RateCat": {
            "type": "string",
            "maxLength": 8,
            "title": "RateCat"
          }
        },
        "title": "ContractDataMoveIn"
      },
      "HSSA.SCM_UTILITIES_SRV.ContractDataMoveIn-create": {
        "type": "object",
        "title": "ContractDataMoveIn (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.ContractDataMoveIn-update": {
        "type": "object",
        "title": "ContractDataMoveIn (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveExtension": {
        "type": "object",
        "properties": {
          "RefObject": {
            "type": "string",
            "maxLength": 30,
            "title": "Reference Object"
          },
          "RefFieldName": {
            "type": "string",
            "maxLength": 30,
            "title": "Field Name"
          },
          "RefFieldValue": {
            "type": "string",
            "maxLength": 255,
            "title": "Character value"
          },
          "NavMoveExtToExtData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveExtensionData"
                }
              }
            }
          }
        },
        "title": "MoveExtension"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveExtension-create": {
        "type": "object",
        "properties": {
          "NavMoveExtToExtData": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveExtensionData-create"
                }
              }
            }
          }
        },
        "title": "MoveExtension (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveExtension-update": {
        "type": "object",
        "title": "MoveExtension (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveExtensionData": {
        "type": "object",
        "properties": {
          "FieldName": {
            "type": "string",
            "maxLength": 30,
            "title": "Field Name"
          },
          "FieldValue": {
            "type": "string",
            "maxLength": 255,
            "title": "Character value"
          }
        },
        "title": "MoveExtensionData"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveExtensionData-create": {
        "type": "object",
        "title": "MoveExtensionData (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveExtensionData-update": {
        "type": "object",
        "title": "MoveExtensionData (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInContract": {
        "type": "object",
        "properties": {
          "ReqReason": {
            "type": "string",
            "maxLength": 4,
            "title": "Reason for Requesting a Security Deposit"
          },
          "Contract": {
            "type": "string",
            "maxLength": 10,
            "title": "Contract"
          },
          "WaiverReason": {
            "type": "string",
            "maxLength": 4,
            "title": "Reason for exemption from security"
          },
          "Installation": {
            "type": "string",
            "maxLength": 10,
            "title": "Installation"
          },
          "PremiseID": {
            "type": "string",
            "maxLength": 10,
            "title": "PremiseID"
          },
          "Eligibility": {
            "type": "string",
            "maxLength": 1,
            "title": "Eligibility"
          },
          "CompCode": {
            "type": "string",
            "maxLength": 4,
            "title": "CompCode"
          },
          "Division": {
            "type": "string",
            "maxLength": 2,
            "title": "Division"
          },
          "ServiceDesc": {
            "type": "string",
            "maxLength": 20,
            "title": "ServiceDesc"
          },
          "ADID": {
            "type": "string",
            "maxLength": 2,
            "title": "ADID"
          },
          "ReqAmount": {
            "type": "string",
            "maxLength": 23,
            "title": "ReqAmount"
          },
          "Currency": {
            "type": "string",
            "maxLength": 3,
            "title": "Currency"
          },
          "StartDate": {
            "type": "string",
            "maxLength": 8,
            "title": "StartDate"
          },
          "RateCat": {
            "type": "string",
            "maxLength": 8,
            "title": "RateCat"
          },
          "RateCatDesc": {
            "type": "string",
            "maxLength": 40,
            "title": "RateCatDesc"
          },
          "MsgType": {
            "type": "string",
            "maxLength": 1,
            "title": "MsgType"
          },
          "MsgCode": {
            "type": "string",
            "maxLength": 3,
            "title": "3-Byte field"
          },
          "MsgText": {
            "type": "string",
            "maxLength": 255,
            "title": "String"
          }
        },
        "title": "MoveInContract"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInContract-create": {
        "type": "object",
        "title": "MoveInContract (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInContract-update": {
        "type": "object",
        "title": "MoveInContract (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInCrData": {
        "type": "object",
        "properties": {
          "MoveInDate": {
            "type": "string",
            "maxLength": 10,
            "title": "MoveInDate"
          },
          "CoAppID": {
            "type": "string",
            "maxLength": 10,
            "title": "CoAppID"
          },
          "ContAcctID": {
            "type": "string",
            "maxLength": 12,
            "title": "ContAcctID"
          },
          "AcctCat": {
            "type": "string",
            "maxLength": 3,
            "title": "AcctCat"
          },
          "LanguageKey": {
            "type": "string",
            "maxLength": 2,
            "title": "LanguageKey"
          },
          "Note": {
            "type": "string",
            "maxLength": 255,
            "title": "Note"
          }
        },
        "title": "MoveInCrData"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInCrData-create": {
        "type": "object",
        "title": "MoveInCrData (for create)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInCrData-update": {
        "type": "object",
        "title": "MoveInCrData (for update)"
      },
      "HSSA.SCM_UTILITIES_SRV.MoveInEligibility": {
        "type": "object",
        "properties": {
          "Channel": {
            "type": "string",
            "maxLength": 3,
            "title": "CHANNEL"
          },
          "Anlage": {
            "type": "string",
            "maxLength": 10,
            "title": "Installation"
          },
          "Action": {
            "type": "string",
            "maxLength": 10,
            "title": "ACTION"
          },
          "Vkont": {
            "type": "string",
            "maxLength": 12,
            "title": "Contract Account"
          },
          "PremiseID": {
            "type": "string",
            "maxLength": 10,
            "title": "PREMISEID"
          },
          "AccountID": {
            "type": "string",
            "maxLength": 10,
            "title": "ACCOUNTID"
          },
          "CoAppID": {
            "type": "string",
            "maxLength": 10,
            "title": "COAPPID"
          },
          "EligibleFlag": {
            "type": "string",
            "maxLength": 1,
            "title": "ELIGIBLEFLAG"
          },
          "DepositReqFlag": {
            "type": "string",
            "maxLength": 1,
            "title": "DEPOSITREQFLAG"
          },
          "DepositAmount": {
            "type": "string",
            "maxLength": 23,
            "title": "DEPOSITAMOUNT"
          },
          "EstablishFee": {
            "type": "string",
            "maxLength": 23,
            "title": "ESTABLISHFEE"
          },
          "Currency": {
            "type": "string",
            "maxLength": 3,
            "title": "CURRENCY"
          },
          "IDReqFlag": {
            "type": "string",
            "maxLength": 1,
            "title": "IDREQFLAG"
          },
          "DateFrom": {
            "type": "string",
            "maxLength": 8,
            "title": "DATEFROM"
          },
          "DateTo": {
            "type": "string",
            "maxLength": 8,
            "title": "DATETO"
          },
          "PreferredDate": {
            "type": "string",
            "maxLength": 8,
            "title": "PREFERREDDATE"
          },
          "MsgType": {
            "type": "string",
            "maxLength": 1,
            "title": "MSGTYPE"
          },
          "MsgCode": {
            "type": "string",
            "maxLength": 3,
            "title": "3-Byte field"
          },
          "MsgText": {
            "type": "string",
            "maxLength": 255,
            "title": "String"
          },
          "NavMoveInEligExt": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveInEligibilityExt"
                }
              }
            }
          },
          "NavMoveEligContract": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.MoveInContract"
                }
              }
            }
          },
          "NavMoveInEligToDate": {
            "type": "object",
            "properties": {
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/HSSA.SCM_UTILITIES_SRV.E_Date_Array"
                }
              }
            }
          }
[...]
